<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/about.css' %}"/>
    <title>APPSTRACTED</title></head>
<body>
<div class="v3_2627">
    <div class="v3_2628">
        <div class="v3_2629"></div>
        <span class="v3_2630">A melting pot for the
best idea  </span><span class="v3_2631">OUR VALUE</span><span class="v3_2632">Integrity</span><span class="v3_2633">Trust</span><span
            class="v3_2634">Excellence</span>
        <div class="v3_2635"></div>
        <span class="v3_2636">We hold ourself to a strong ethical and
moral code</span><span class="v3_2637">We are dependable loyal and hard working
to archive the same goal.</span><span class="v3_2638">We consistenly strive to do high-quality work
and give no room for errore</span>
        <div class="v3_2639" style="background-image: url('/static/myapp/about/v3_2639.png');"></div>
        <div class="v3_2640">
            <div class="v3_2641"></div>
            <div class="v3_2642"></div>
            <div class="v3_2643"></div>
            <div class="name"></div>
            <div class="name"></div>
            <div class="v3_2646"></div>
            <div class="v3_2647"></div>
            <div class="v3_2648"></div>
        </div>
    </div>
    <div class="v3_2649"><span class="v3_2650">Methodologies &
Technology We Use.</span><span class="v3_2651">OUR SERVICES</span><span class="v3_2652">Appstracted specializes in developing mobile applications and web-based software solutions for businesses. In order to create these solutions, Appstracted utilizes several technologies, including React Native, Angular Development, and Laravel Development.</span>
        <div class="v3_2653"></div>
        <div class="v3_2654"></div>
        <div class="v3_2655"></div>
        <div class="v3_2656"></div>
        <div class="v3_2657"></div>
        <div class="v3_2658"></div>
        <span class="v3_2659">01</span><span class="v3_2660">01</span><span class="v3_2661">01</span><span
                class="v3_2662">01</span>
        <span class="v3_2663">Node.js</span>
        <span class="v3_2664">Laravel</span>
        <span class="v3_2665">React.js</span>
        <span class="v3_2666">Angular</span>
<!--        <div class="v3_2667">-></div>-->
<!--        <div class="v3_2668" style="background-image: url('/static/myapp/about/arrow.png');"></div>-->
<!--        <div class="v3_2669" style="background-image: url('/static/myapp/about/arrow.png');"></div>-->
<!--        <div class="v3_2670" style="background-image: url('/static/myapp/about/arrow.png');"></div>-->
    </div>
    <div class="v3_2671">
        <div class="v3_2672"></div>
        <span class="v3_2673">Colaboring and
optimizing for growth</span><span class="v3_2674">The team at petrong we are powering the growth
of africal technologh ecosystem</span><span class="v3_2675">OUR TEAM</span>
        <div class="v3_2676"></div>
        <div class="v3_2677">
            <div class="v3_2678"></div>
            <div class="v3_2679"></div>
            <div class="v3_2680"></div>
            <div class="v3_2681"></div>
            <div class="v3_2682" style="background-image: url('/static/myapp/about/tushar.jpg')"></div>
            <div class="v3_2683" style="background-image: url('/static/myapp/about/navjot.jpg');"></div>
            <div class="v3_2684" style="background-image: url('/static/myapp/about/gyanesh.jpg');"></div>
            <div class="v3_2685" style="background-image: url('/static/myapp/about/jhalak.jpg');"></div>
            <span class="v3_2686">Tushar Agarwal</span>
            <span class="v3_2687">Navjot Cheema</span>
            <span class="v3_2688">Gyanesh Mishra</span>
            <span class="v3_2689">Jhalak Sharma</span>
            <span class="v3_2690">CEO and Co-Founder</span>
            <span class="v3_2691">Co-Founder</span>
            <span class="v3_2692">Co-Founder</span>
            <span class="v3_2693">Human Resources</span></div>
    </div>
    <div class="v3_2694">
        <div class="v3_2695"></div>
        <div class="v3_2696">
            <div class="v3_2697" style="background-image: url('/static/myapp/about/chat.png');">
<!--                <div class="v3_2698"></div>-->
            </div>
        </div>
    </div>
    <div class="v3_2699">
        <div class="v3_2700"></div>
        <span class="v3_2701">Do you have a next level-idea?</span><span class="v3_2702">Reach out and we can create magic together</span>
        <div class="v3_2703" onclick="location.href='/contact';" style="cursor: pointer;">
            <div class="v3_2704"></div>
            <span class="v3_2705">MESSAGE US</span></div>
    </div>
    <span class="v3_2706">Career</span>
    <div class="v3_2707">
        <div class="v3_2708"></div>
        <div class="v3_2709"></div>
        <div class="v3_2710" style="background-image: url('/static/myapp/about/v3_2710.png');"></div>
        <span class="v3_2711">We combine our experience and
passion to develop solutions that
empower businesses.</span><span class="v3_2712">At Appstracted, we believe that technology is the key to unlocking endless possibilities and creating a better world. We strive to provide our clients with the best IT solutions and services that meet their unique needs and requirements. We specialize in software development, web development, mobile application development, cloud computing, and more.
</span><span class="v3_2713">WHO WE ARE</span>
        <div class="v3_2714"></div>
        <div class="v3_2715"></div>
        <span class="v3_2716">Our mission is to empower businesses with the latest technologies and enable them to achieve their goals and objectives. We believe that technology is the future, and we are committed to helping our clients.</span>
        <div class="v3_2717">
            <div class="v3_2718"></div>
            <div class="v3_2719"></div>
            <div class="v3_2720"></div>
            <div class="v3_2721"></div>
            <div class="v3_2722"></div>
            <div class="v3_2723"></div>
            <div class="v3_2724"></div>
            <div class="v3_2725"></div>
            <div class="v3_2726"></div>
            <div class="v3_2727"></div>
            <div class="v3_2728"></div>
            <div class="v3_2729"></div>
            <div class="v3_2730"></div>
            <div class="v3_2731"></div>
            <div class="v3_2732"></div>
            <div class="v3_2733"></div>
            <div class="v3_2734"></div>
            <div class="v3_2735"></div>
            <div class="v3_2736"></div>
            <div class="v3_2737"></div>
            <div class="v3_2738"></div>
            <div class="v3_2739"></div>
            <div class="v3_2740"></div>
            <div class="v3_2741"></div>
            <div class="v3_2742"></div>
            <div class="v3_2743"></div>
            <div class="v3_2744"></div>
            <div class="v3_2745"></div>
            <div class="v3_2746"></div>
            <div class="v3_2747"></div>
            <div class="v3_2748"></div>
            <div class="v3_2749"></div>
            <div class="v3_2750"></div>
            <div class="v3_2751"></div>
            <div class="v3_2752"></div>
            <div class="v3_2753"></div>
            <div class="v3_2754"></div>
            <div class="v3_2755"></div>
            <div class="v3_2756"></div>
            <div class="v3_2757"></div>
            <div class="v3_2758"></div>
            <div class="v3_2759"></div>
            <div class="v3_2760"></div>
            <div class="v3_2761"></div>
            <div class="v3_2762"></div>
            <div class="v3_2763"></div>
            <div class="v3_2764"></div>
            <div class="v3_2765"></div>
            <div class="v3_2766"></div>
            <div class="v3_2767"></div>
            <div class="v3_2768"></div>
            <div class="v3_2769"></div>
            <div class="v3_2770"></div>
            <div class="v3_2771"></div>
            <div class="v3_2772"></div>
            <div class="v3_2773"></div>
            <div class="v3_2774"></div>
            <div class="v3_2775"></div>
            <div class="v3_2776"></div>
            <div class="v3_2777"></div>
            <div class="v3_2778"></div>
            <div class="v3_2779"></div>
            <div class="v3_2780"></div>
            <div class="v3_2781"></div>
            <div class="v3_2782"></div>
            <div class="v3_2783"></div>
            <div class="v3_2784"></div>
            <div class="v3_2785"></div>
            <div class="v3_2786"></div>
            <div class="v3_2787"></div>
            <div class="v3_2788"></div>
            <div class="v3_2789"></div>
            <div class="v3_2790"></div>
            <div class="v3_2791"></div>
            <div class="v3_2792"></div>
            <div class="v3_2793"></div>
            <div class="v3_2794"></div>
            <div class="v3_2795"></div>
            <div class="v3_2796"></div>
            <div class="v3_2797"></div>
            <div class="v3_2798"></div>
            <div class="v3_2799"></div>
            <div class="v3_2800"></div>
            <div class="v3_2801"></div>
            <div class="v3_2802"></div>
            <div class="v3_2803"></div>
            <div class="v3_2804"></div>
            <div class="v3_2805"></div>
            <div class="v3_2806"></div>
            <div class="v3_2807"></div>
            <div class="v3_2808"></div>
            <div class="v3_2809"></div>
            <div class="v3_2810"></div>
            <div class="v3_2811"></div>
            <div class="v3_2812"></div>
            <div class="v3_2813"></div>
            <div class="v3_2814"></div>
            <div class="v3_2815"></div>
            <div class="v3_2816"></div>
            <div class="v3_2817"></div>
            <div class="v3_2818"></div>
            <div class="v3_2819"></div>
            <div class="v3_2820"></div>
            <div class="v3_2821"></div>
            <div class="v3_2822"></div>
            <div class="v3_2823"></div>
            <div class="v3_2824"></div>
            <div class="v3_2825"></div>
            <div class="v3_2826"></div>
            <div class="v3_2827"></div>
            <div class="v3_2828"></div>
            <div class="v3_2829"></div>
            <div class="v3_2830"></div>
            <div class="v3_2831"></div>
            <div class="v3_2832"></div>
            <div class="v3_2833"></div>
            <div class="v3_2834"></div>
            <div class="v3_2835"></div>
            <div class="v3_2836"></div>
            <div class="v3_2837"></div>
            <div class="v3_2838"></div>
            <div class="v3_2839"></div>
            <div class="v3_2840"></div>
            <div class="v3_2841"></div>
            <div class="v3_2842"></div>
            <div class="v3_2843"></div>
            <div class="v3_2844"></div>
            <div class="v3_2845"></div>
            <div class="v3_2846"></div>
            <div class="v3_2847"></div>
            <div class="v3_2848"></div>
            <div class="v3_2849"></div>
            <div class="v3_2850"></div>
            <div class="v3_2851"></div>
            <div class="v3_2852"></div>
            <div class="v3_2853"></div>
            <div class="v3_2854"></div>
            <div class="v3_2855"></div>
            <div class="v3_2856"></div>
            <div class="v3_2857"></div>
            <div class="v3_2858"></div>
            <div class="v3_2859"></div>
            <div class="v3_2860"></div>
            <div class="v3_2861"></div>
            <div class="v3_2862"></div>
            <div class="v3_2863"></div>
            <div class="v3_2864"></div>
            <div class="v3_2865"></div>
            <div class="v3_2866"></div>
            <div class="v3_2867"></div>
            <div class="v3_2868"></div>
            <div class="v3_2869"></div>
            <div class="v3_2870"></div>
            <div class="v3_2871"></div>
            <div class="v3_2872"></div>
            <div class="v3_2873"></div>
            <div class="v3_2874"></div>
            <div class="v3_2875"></div>
            <div class="v3_2876"></div>
            <div class="v3_2877"></div>
            <div class="v3_2878"></div>
            <div class="v3_2879"></div>
            <div class="v3_2880"></div>
            <div class="v3_2881"></div>
            <div class="v3_2882"></div>
            <div class="v3_2883"></div>
            <div class="v3_2884"></div>
            <div class="v3_2885"></div>
            <div class="v3_2886"></div>
            <div class="v3_2887"></div>
            <div class="v3_2888"></div>
            <div class="v3_2889"></div>
            <div class="v3_2890"></div>
            <div class="v3_2891"></div>
            <div class="v3_2892"></div>
            <div class="v3_2893"></div>
            <div class="v3_2894"></div>
            <div class="v3_2895"></div>
            <div class="v3_2896"></div>
            <div class="v3_2897"></div>
            <div class="v3_2898"></div>
            <div class="v3_2899"></div>
            <div class="v3_2900"></div>
            <div class="v3_2901"></div>
            <div class="v3_2902"></div>
            <div class="v3_2903"></div>
            <div class="v3_2904"></div>
            <div class="v3_2905"></div>
            <div class="v3_2906"></div>
            <div class="v3_2907"></div>
            <div class="v3_2908"></div>
            <div class="v3_2909"></div>
            <div class="v3_2910"></div>
            <div class="v3_2911"></div>
            <div class="v3_2912"></div>
            <div class="v3_2913"></div>
            <div class="v3_2914"></div>
            <div class="v3_2915"></div>
            <div class="v3_2916"></div>
            <div class="v3_2917"></div>
            <div class="v3_2918"></div>
            <div class="v3_2919"></div>
            <div class="v3_2920"></div>
            <div class="v3_2921"></div>
            <div class="v3_2922"></div>
            <div class="v3_2923"></div>
            <div class="v3_2924"></div>
            <div class="v3_2925"></div>
            <div class="v3_2926"></div>
            <div class="v3_2927"></div>
            <div class="v3_2928"></div>
            <div class="v3_2929"></div>
            <div class="v3_2930"></div>
            <div class="v3_2931"></div>
            <div class="v3_2932"></div>
            <div class="v3_2933"></div>
            <div class="v3_2934"></div>
            <div class="v3_2935"></div>
            <div class="v3_2936"></div>
            <div class="v3_2937"></div>
            <div class="v3_2938"></div>
            <div class="v3_2939"></div>
            <div class="v3_2940"></div>
            <div class="v3_2941"></div>
            <div class="v3_2942"></div>
            <div class="v3_2943"></div>
            <div class="v3_2944"></div>
            <div class="v3_2945"></div>
            <div class="v3_2946"></div>
            <div class="v3_2947"></div>
            <div class="v3_2948"></div>
            <div class="v3_2949"></div>
            <div class="v3_2950"></div>
            <div class="v3_2951"></div>
            <div class="v3_2952"></div>
            <div class="v3_2953"></div>
            <div class="v3_2954"></div>
            <div class="v3_2955"></div>
            <div class="v3_2956"></div>
            <div class="v3_2957"></div>
            <div class="v3_2958"></div>
            <div class="v3_2959"></div>
            <div class="v3_2960"></div>
            <div class="v3_2961"></div>
            <div class="v3_2962"></div>
            <div class="v3_2963"></div>
            <div class="v3_2964"></div>
            <div class="v3_2965"></div>
            <div class="v3_2966"></div>
            <div class="v3_2967"></div>
            <div class="v3_2968"></div>
            <div class="v3_2969"></div>
            <div class="v3_2970"></div>
            <div class="v3_2971"></div>
            <div class="v3_2972"></div>
            <div class="v3_2973"></div>
            <div class="v3_2974"></div>
            <div class="v3_2975"></div>
            <div class="v3_2976"></div>
            <div class="v3_2977"></div>
            <div class="v3_2978"></div>
            <div class="v3_2979"></div>
            <div class="v3_2980"></div>
            <div class="v3_2981"></div>
            <div class="v3_2982"></div>
            <div class="v3_2983"></div>
            <div class="v3_2984"></div>
            <div class="v3_2985"></div>
            <div class="v3_2986"></div>
            <div class="v3_2987"></div>
            <div class="v3_2988"></div>
            <div class="v3_2989"></div>
            <div class="v3_2990"></div>
            <div class="v3_2991"></div>
            <div class="v3_2992"></div>
            <div class="v3_2993"></div>
            <div class="v3_2994"></div>
            <div class="v3_2995"></div>
            <div class="v3_2996"></div>
            <div class="v3_2997"></div>
            <div class="v3_2998"></div>
            <div class="v3_2999"></div>
            <div class="v3_3000"></div>
            <div class="v3_3001"></div>
            <div class="v3_3002"></div>
            <div class="v3_3003"></div>
            <div class="v3_3004"></div>
        </div>
        <span class="v3_3005">Tushar Agarwal</span><span class="v3_3006">CEO and Co-founder</span>
        <div class="v3_3007">
            <span onclick="location.href='/about';" style="cursor: pointer;" class="v3_3017">ABOUT </span>
            <span onclick="location.href='/portfolio';" style="cursor: pointer;" class="v3_3018">PORTFOLIO</span>
            <span onclick="location.href='/expertise';" style="cursor: pointer;" class="v3_3020">EXPERTISE</span>
            <span onclick="location.href='/contact';" style="cursor: pointer;" class="v3_3021">CONTACT</span></div>
    </div>
    <div class="v3_3023">
        <div class="v3_3024"></div>
        <div class="v3_3025">
            <div class="v3_3026"></div>
            <div class="v3_3027"></div>
            <div class="v3_3028"></div>
            <div class="v3_3029"></div>
            <div class="v3_3030"></div>
            <div class="v3_3031"></div>
            <div class="v3_3032"></div>
            <div class="v3_3033"></div>
            <div class="v3_3034"></div>
            <div class="v3_3035"></div>
            <div class="v3_3036"></div>
            <div class="v3_3037"></div>
            <div class="v3_3038"></div>
            <div class="v3_3039"></div>
            <div class="v3_3040"></div>
            <div class="v3_3041"></div>
            <div class="v3_3042"></div>
            <div class="v3_3043"></div>
            <div class="v3_3044"></div>
            <div class="v3_3045"></div>
            <div class="v3_3046"></div>
            <div class="v3_3047"></div>
            <div class="v3_3048"></div>
            <div class="v3_3049"></div>
            <div class="v3_3050"></div>
            <div class="v3_3051"></div>
            <div class="v3_3052"></div>
            <div class="v3_3053"></div>
            <div class="v3_3054"></div>
            <div class="v3_3055"></div>
            <div class="v3_3056"></div>
            <div class="v3_3057"></div>
            <div class="v3_3058"></div>
            <div class="v3_3059"></div>
            <div class="v3_3060"></div>
            <div class="v3_3061"></div>
            <div class="v3_3062"></div>
            <div class="v3_3063"></div>
            <div class="v3_3064"></div>
            <div class="v3_3065"></div>
            <div class="v3_3066"></div>
            <div class="v3_3067"></div>
            <div class="v3_3068"></div>
            <div class="v3_3069"></div>
            <div class="v3_3070"></div>
            <div class="v3_3071"></div>
            <div class="v3_3072"></div>
            <div class="v3_3073"></div>
            <div class="v3_3074"></div>
            <div class="v3_3075"></div>
            <div class="v3_3076"></div>
            <div class="v3_3077"></div>
            <div class="v3_3078"></div>
            <div class="v3_3079"></div>
            <div class="v3_3080"></div>
            <div class="v3_3081"></div>
            <div class="v3_3082"></div>
            <div class="v3_3083"></div>
            <div class="v3_3084"></div>
            <div class="v3_3085"></div>
            <div class="v3_3086"></div>
            <div class="v3_3087"></div>
            <div class="v3_3088"></div>
            <div class="v3_3089"></div>
            <div class="v3_3090"></div>
            <div class="v3_3091"></div>
            <div class="v3_3092"></div>
            <div class="v3_3093"></div>
            <div class="v3_3094"></div>
            <div class="v3_3095"></div>
            <div class="v3_3096"></div>
            <div class="v3_3097"></div>
            <div class="v3_3098"></div>
            <div class="v3_3099"></div>
            <div class="v3_3100"></div>
            <div class="v3_3101"></div>
            <div class="v3_3102"></div>
            <div class="v3_3103"></div>
            <div class="v3_3104"></div>
            <div class="v3_3105"></div>
            <div class="v3_3106"></div>
            <div class="v3_3107"></div>
            <div class="v3_3108"></div>
            <div class="v3_3109"></div>
            <div class="v3_3110"></div>
            <div class="v3_3111"></div>
            <div class="v3_3112"></div>
            <div class="v3_3113"></div>
            <div class="v3_3114"></div>
            <div class="v3_3115"></div>
            <div class="v3_3116"></div>
            <div class="v3_3117"></div>
            <div class="v3_3118"></div>
            <div class="v3_3119"></div>
            <div class="v3_3120"></div>
            <div class="v3_3121"></div>
            <div class="v3_3122"></div>
            <div class="v3_3123"></div>
            <div class="v3_3124"></div>
            <div class="v3_3125"></div>
            <div class="v3_3126"></div>
            <div class="v3_3127"></div>
            <div class="v3_3128"></div>
            <div class="v3_3129"></div>
            <div class="v3_3130"></div>
            <div class="v3_3131"></div>
            <div class="v3_3132"></div>
            <div class="v3_3133"></div>
            <div class="v3_3134"></div>
            <div class="v3_3135"></div>
            <div class="v3_3136"></div>
            <div class="v3_3137"></div>
            <div class="v3_3138"></div>
            <div class="v3_3139"></div>
            <div class="v3_3140"></div>
            <div class="v3_3141"></div>
            <div class="v3_3142"></div>
            <div class="v3_3143"></div>
            <div class="v3_3144"></div>
            <div class="v3_3145"></div>
            <div class="v3_3146"></div>
            <div class="v3_3147"></div>
            <div class="v3_3148"></div>
            <div class="v3_3149"></div>
            <div class="v3_3150"></div>
            <div class="v3_3151"></div>
            <div class="v3_3152"></div>
            <div class="v3_3153"></div>
            <div class="v3_3154"></div>
            <div class="v3_3155"></div>
            <div class="v3_3156"></div>
            <div class="v3_3157"></div>
            <div class="v3_3158"></div>
            <div class="v3_3159"></div>
            <div class="v3_3160"></div>
            <div class="v3_3161"></div>
            <div class="v3_3162"></div>
            <div class="v3_3163"></div>
            <div class="v3_3164"></div>
            <div class="v3_3165"></div>
            <div class="v3_3166"></div>
            <div class="v3_3167"></div>
            <div class="v3_3168"></div>
            <div class="v3_3169"></div>
            <div class="v3_3170"></div>
            <div class="v3_3171"></div>
            <div class="v3_3172"></div>
            <div class="v3_3173"></div>
            <div class="v3_3174"></div>
            <div class="v3_3175"></div>
            <div class="v3_3176"></div>
            <div class="v3_3177"></div>
            <div class="v3_3178"></div>
            <div class="v3_3179"></div>
            <div class="v3_3180"></div>
            <div class="v3_3181"></div>
            <div class="v3_3182"></div>
            <div class="v3_3183"></div>
            <div class="v3_3184"></div>
            <div class="v3_3185"></div>
            <div class="v3_3186"></div>
            <div class="v3_3187"></div>
            <div class="v3_3188"></div>
            <div class="v3_3189"></div>
            <div class="v3_3190"></div>
            <div class="v3_3191"></div>
            <div class="v3_3192"></div>
            <div class="v3_3193"></div>
            <div class="v3_3194"></div>
            <div class="v3_3195"></div>
            <div class="v3_3196"></div>
            <div class="v3_3197"></div>
            <div class="v3_3198"></div>
            <div class="v3_3199"></div>
            <div class="v3_3200"></div>
            <div class="v3_3201"></div>
            <div class="v3_3202"></div>
            <div class="v3_3203"></div>
            <div class="v3_3204"></div>
            <div class="v3_3205"></div>
            <div class="v3_3206"></div>
            <div class="v3_3207"></div>
            <div class="v3_3208"></div>
            <div class="v3_3209"></div>
            <div class="v3_3210"></div>
            <div class="v3_3211"></div>
            <div class="v3_3212"></div>
            <div class="v3_3213"></div>
            <div class="v3_3214"></div>
            <div class="v3_3215"></div>
            <div class="v3_3216"></div>
            <div class="v3_3217"></div>
            <div class="v3_3218"></div>
            <div class="v3_3219"></div>
            <div class="v3_3220"></div>
            <div class="v3_3221"></div>
            <div class="v3_3222"></div>
            <div class="v3_3223"></div>
            <div class="v3_3224"></div>
            <div class="v3_3225"></div>
            <div class="v3_3226"></div>
            <div class="v3_3227"></div>
            <div class="v3_3228"></div>
            <div class="v3_3229"></div>
            <div class="v3_3230"></div>
            <div class="v3_3231"></div>
            <div class="v3_3232"></div>
            <div class="v3_3233"></div>
            <div class="v3_3234"></div>
            <div class="v3_3235"></div>
            <div class="v3_3236"></div>
            <div class="v3_3237"></div>
            <div class="v3_3238"></div>
            <div class="v3_3239"></div>
            <div class="v3_3240"></div>
            <div class="v3_3241"></div>
            <div class="v3_3242"></div>
            <div class="v3_3243"></div>
            <div class="v3_3244"></div>
            <div class="v3_3245"></div>
            <div class="v3_3246"></div>
            <div class="v3_3247"></div>
            <div class="v3_3248"></div>
            <div class="v3_3249"></div>
            <div class="v3_3250"></div>
            <div class="v3_3251"></div>
            <div class="v3_3252"></div>
            <div class="v3_3253"></div>
            <div class="v3_3254"></div>
            <div class="v3_3255"></div>
            <div class="v3_3256"></div>
            <div class="v3_3257"></div>
            <div class="v3_3258"></div>
            <div class="v3_3259"></div>
            <div class="v3_3260"></div>
            <div class="v3_3261"></div>
            <div class="v3_3262"></div>
            <div class="v3_3263"></div>
            <div class="v3_3264"></div>
            <div class="v3_3265"></div>
            <div class="v3_3266"></div>
            <div class="v3_3267"></div>
            <div class="v3_3268"></div>
            <div class="v3_3269"></div>
            <div class="v3_3270"></div>
            <div class="v3_3271"></div>
            <div class="v3_3272"></div>
            <div class="v3_3273"></div>
            <div class="v3_3274"></div>
            <div class="v3_3275"></div>
            <div class="v3_3276"></div>
            <div class="v3_3277"></div>
            <div class="v3_3278"></div>
            <div class="v3_3279"></div>
            <div class="v3_3280"></div>
            <div class="v3_3281"></div>
            <div class="v3_3282"></div>
            <div class="v3_3283"></div>
            <div class="v3_3284"></div>
            <div class="v3_3285"></div>
            <div class="v3_3286"></div>
            <div class="v3_3287"></div>
            <div class="v3_3288"></div>
            <div class="v3_3289"></div>
            <div class="v3_3290"></div>
            <div class="v3_3291"></div>
            <div class="v3_3292"></div>
            <div class="v3_3293"></div>
            <div class="v3_3294"></div>
            <div class="v3_3295"></div>
            <div class="v3_3296"></div>
            <div class="v3_3297"></div>
            <div class="v3_3298"></div>
            <div class="v3_3299"></div>
            <div class="v3_3300"></div>
            <div class="v3_3301"></div>
            <div class="v3_3302"></div>
            <div class="v3_3303"></div>
            <div class="v3_3304"></div>
            <div class="v3_3305"></div>
            <div class="v3_3306"></div>
            <div class="v3_3307"></div>
            <div class="v3_3308"></div>
            <div class="v3_3309"></div>
            <div class="v3_3310"></div>
            <div class="v3_3311"></div>
            <div class="v3_3312"></div>
            <div class="v3_3313"></div>
            <div class="v3_3314"></div>
            <div class="v3_3315"></div>
            <div class="v3_3316"></div>
            <div class="v3_3317"></div>
            <div class="v3_3318"></div>
            <div class="v3_3319"></div>
            <div class="v3_3320"></div>
            <div class="v3_3321"></div>
            <div class="v3_3322"></div>
            <div class="v3_3323"></div>
            <div class="v3_3324"></div>
            <div class="v3_3325"></div>
            <div class="v3_3326"></div>
            <div class="v3_3327"></div>
            <div class="v3_3328"></div>
            <div class="v3_3329"></div>
            <div class="v3_3330"></div>
            <div class="v3_3331"></div>
            <div class="v3_3332"></div>
            <div class="v3_3333"></div>
            <div class="v3_3334"></div>
            <div class="v3_3335"></div>
            <div class="v3_3336"></div>
            <div class="v3_3337"></div>
            <div class="v3_3338"></div>
            <div class="v3_3339"></div>
            <div class="v3_3340"></div>
            <div class="v3_3341"></div>
            <div class="v3_3342"></div>
            <div class="v3_3343"></div>
            <div class="v3_3344"></div>
            <div class="v3_3345"></div>
            <div class="v3_3346"></div>
            <div class="v3_3347"></div>
            <div class="v3_3348"></div>
            <div class="v3_3349"></div>
            <div class="v3_3350"></div>
            <div class="v3_3351"></div>
            <div class="v3_3352"></div>
            <div class="v3_3353"></div>
            <div class="v3_3354"></div>
            <div class="v3_3355"></div>
            <div class="v3_3356"></div>
            <div class="v3_3357"></div>
            <div class="v3_3358"></div>
            <div class="v3_3359"></div>
            <div class="v3_3360"></div>
            <div class="v3_3361"></div>
            <div class="v3_3362"></div>
            <div class="v3_3363"></div>
            <div class="v3_3364"></div>
            <div class="v3_3365"></div>
            <div class="v3_3366"></div>
            <div class="v3_3367"></div>
            <div class="v3_3368"></div>
            <div class="v3_3369"></div>
            <div class="v3_3370"></div>
            <div class="v3_3371"></div>
            <div class="v3_3372"></div>
            <div class="v3_3373"></div>
            <div class="v3_3374"></div>
            <div class="v3_3375"></div>
            <div class="v3_3376"></div>
            <div class="v3_3377"></div>
            <div class="v3_3378"></div>
            <div class="v3_3379"></div>
            <div class="v3_3380"></div>
            <div class="v3_3381"></div>
            <div class="v3_3382"></div>
            <div class="v3_3383"></div>
            <div class="v3_3384"></div>
            <div class="v3_3385"></div>
            <div class="v3_3386"></div>
            <div class="v3_3387"></div>
            <div class="v3_3388"></div>
            <div class="v3_3389"></div>
            <div class="v3_3390"></div>
            <div class="v3_3391"></div>
            <div class="v3_3392"></div>
            <div class="v3_3393"></div>
            <div class="v3_3394"></div>
            <div class="v3_3395"></div>
            <div class="v3_3396"></div>
            <div class="v3_3397"></div>
            <div class="v3_3398"></div>
            <div class="v3_3399"></div>
            <div class="v3_3400"></div>
            <div class="v3_3401"></div>
            <div class="v3_3402"></div>
            <div class="v3_3403"></div>
            <div class="v3_3404"></div>
            <div class="v3_3405"></div>
            <div class="v3_3406"></div>
            <div class="v3_3407"></div>
            <div class="v3_3408"></div>
            <div class="v3_3409"></div>
            <div class="v3_3410"></div>
            <div class="v3_3411"></div>
            <div class="v3_3412"></div>
            <div class="v3_3413"></div>
            <div class="v3_3414"></div>
            <div class="v3_3415"></div>
            <div class="v3_3416"></div>
            <div class="v3_3417"></div>
            <div class="v3_3418"></div>
            <div class="v3_3419"></div>
            <div class="v3_3420"></div>
            <div class="v3_3421"></div>
            <div class="v3_3422"></div>
            <div class="v3_3423"></div>
            <div class="v3_3424"></div>
            <div class="v3_3425"></div>
            <div class="v3_3426"></div>
            <div class="v3_3427"></div>
            <div class="v3_3428"></div>
            <div class="v3_3429"></div>
            <div class="v3_3430"></div>
            <div class="v3_3431"></div>
            <div class="v3_3432"></div>
            <div class="v3_3433"></div>
            <div class="v3_3434"></div>
            <div class="v3_3435"></div>
            <div class="v3_3436"></div>
            <div class="v3_3437"></div>
            <div class="v3_3438"></div>
            <div class="v3_3439"></div>
            <div class="v3_3440"></div>
            <div class="v3_3441"></div>
            <div class="v3_3442"></div>
            <div class="v3_3443"></div>
            <div class="v3_3444"></div>
            <div class="v3_3445"></div>
            <div class="v3_3446"></div>
            <div class="v3_3447"></div>
            <div class="v3_3448"></div>
            <div class="v3_3449"></div>
            <div class="v3_3450"></div>
            <div class="v3_3451"></div>
            <div class="v3_3452"></div>
            <div class="v3_3453"></div>
            <div class="v3_3454"></div>
            <div class="v3_3455"></div>
            <div class="v3_3456"></div>
            <div class="v3_3457"></div>
            <div class="v3_3458"></div>
            <div class="v3_3459"></div>
            <div class="v3_3460"></div>
            <div class="v3_3461"></div>
            <div class="v3_3462"></div>
            <div class="v3_3463"></div>
            <div class="v3_3464"></div>
            <div class="v3_3465"></div>
            <div class="v3_3466"></div>
            <div class="v3_3467"></div>
            <div class="v3_3468"></div>
            <div class="v3_3469"></div>
            <div class="v3_3470"></div>
            <div class="v3_3471"></div>
            <div class="v3_3472"></div>
            <div class="v3_3473"></div>
            <div class="v3_3474"></div>
            <div class="v3_3475"></div>
            <div class="v3_3476"></div>
            <div class="v3_3477"></div>
            <div class="v3_3478"></div>
            <div class="v3_3479"></div>
            <div class="v3_3480"></div>
            <div class="v3_3481"></div>
            <div class="v3_3482"></div>
            <div class="v3_3483"></div>
            <div class="v3_3484"></div>
            <div class="v3_3485"></div>
            <div class="v3_3486"></div>
            <div class="v3_3487"></div>
            <div class="v3_3488"></div>
            <div class="v3_3489"></div>
            <div class="v3_3490"></div>
            <div class="v3_3491"></div>
            <div class="v3_3492"></div>
            <div class="v3_3493"></div>
            <div class="v3_3494"></div>
            <div class="v3_3495"></div>
            <div class="v3_3496"></div>
            <div class="v3_3497"></div>
            <div class="v3_3498"></div>
            <div class="v3_3499"></div>
            <div class="v3_3500"></div>
            <div class="v3_3501"></div>
            <div class="v3_3502"></div>
            <div class="v3_3503"></div>
            <div class="v3_3504"></div>
            <div class="v3_3505"></div>
            <div class="v3_3506"></div>
            <div class="v3_3507"></div>
            <div class="v3_3508"></div>
            <div class="v3_3509"></div>
            <div class="v3_3510"></div>
            <div class="v3_3511"></div>
            <div class="v3_3512"></div>
            <div class="v3_3513"></div>
            <div class="v3_3514"></div>
            <div class="v3_3515"></div>
            <div class="v3_3516"></div>
            <div class="v3_3517"></div>
            <div class="v3_3518"></div>
            <div class="v3_3519"></div>
            <div class="v3_3520"></div>
            <div class="v3_3521"></div>
            <div class="v3_3522"></div>
            <div class="v3_3523"></div>
            <div class="v3_3524"></div>
            <div class="v3_3525"></div>
            <div class="v3_3526"></div>
            <div class="v3_3527"></div>
            <div class="v3_3528"></div>
            <div class="v3_3529"></div>
            <div class="v3_3530"></div>
            <div class="v3_3531"></div>
            <div class="v3_3532"></div>
            <div class="v3_3533"></div>
            <div class="v3_3534"></div>
            <div class="v3_3535"></div>
            <div class="v3_3536"></div>
            <div class="v3_3537"></div>
            <div class="v3_3538"></div>
            <div class="v3_3539"></div>
            <div class="v3_3540"></div>
            <div class="v3_3541"></div>
            <div class="v3_3542"></div>
            <div class="v3_3543"></div>
            <div class="v3_3544"></div>
            <div class="v3_3545"></div>
            <div class="v3_3546"></div>
            <div class="v3_3547"></div>
            <div class="v3_3548"></div>
            <div class="v3_3549"></div>
            <div class="v3_3550"></div>
            <div class="v3_3551"></div>
            <div class="v3_3552"></div>
            <div class="v3_3553"></div>
            <div class="v3_3554"></div>
            <div class="v3_3555"></div>
            <div class="v3_3556"></div>
            <div class="v3_3557"></div>
            <div class="v3_3558"></div>
            <div class="v3_3559"></div>
            <div class="v3_3560"></div>
            <div class="v3_3561"></div>
            <div class="v3_3562"></div>
            <div class="v3_3563"></div>
            <div class="v3_3564"></div>
            <div class="v3_3565"></div>
            <div class="v3_3566"></div>
            <div class="v3_3567"></div>
            <div class="v3_3568"></div>
            <div class="v3_3569"></div>
            <div class="v3_3570"></div>
            <div class="v3_3571"></div>
            <div class="v3_3572"></div>
            <div class="v3_3573"></div>
            <div class="v3_3574"></div>
            <div class="v3_3575"></div>
            <div class="v3_3576"></div>
            <div class="v3_3577"></div>
            <div class="v3_3578"></div>
            <div class="v3_3579"></div>
            <div class="v3_3580"></div>
            <div class="v3_3581"></div>
            <div class="v3_3582"></div>
            <div class="v3_3583"></div>
            <div class="v3_3584"></div>
            <div class="v3_3585"></div>
            <div class="v3_3586"></div>
            <div class="v3_3587"></div>
            <div class="v3_3588"></div>
            <div class="v3_3589"></div>
            <div class="v3_3590"></div>
            <div class="v3_3591"></div>
            <div class="v3_3592"></div>
            <div class="v3_3593"></div>
            <div class="v3_3594"></div>
            <div class="v3_3595"></div>
            <div class="v3_3596"></div>
            <div class="v3_3597"></div>
            <div class="v3_3598"></div>
            <div class="v3_3599"></div>
            <div class="v3_3600"></div>
            <div class="v3_3601"></div>
            <div class="v3_3602"></div>
            <div class="v3_3603"></div>
            <div class="v3_3604"></div>
            <div class="v3_3605"></div>
            <div class="v3_3606"></div>
            <div class="v3_3607"></div>
            <div class="v3_3608"></div>
            <div class="v3_3609"></div>
            <div class="v3_3610"></div>
            <div class="v3_3611"></div>
            <div class="v3_3612"></div>
            <div class="v3_3613"></div>
            <div class="v3_3614"></div>
            <div class="v3_3615"></div>
            <div class="v3_3616"></div>
            <div class="v3_3617"></div>
            <div class="v3_3618"></div>
            <div class="v3_3619"></div>
            <div class="v3_3620"></div>
            <div class="v3_3621"></div>
            <div class="v3_3622"></div>
            <div class="v3_3623"></div>
            <div class="v3_3624"></div>
            <div class="v3_3625"></div>
            <div class="v3_3626"></div>
            <div class="v3_3627"></div>
            <div class="v3_3628"></div>
            <div class="v3_3629"></div>
            <div class="v3_3630"></div>
            <div class="v3_3631"></div>
            <div class="v3_3632"></div>
            <div class="v3_3633"></div>
            <div class="v3_3634"></div>
            <div class="v3_3635"></div>
            <div class="v3_3636"></div>
            <div class="v3_3637"></div>
            <div class="v3_3638"></div>
            <div class="v3_3639"></div>
            <div class="v3_3640"></div>
            <div class="v3_3641"></div>
            <div class="v3_3642"></div>
            <div class="v3_3643"></div>
            <div class="v3_3644"></div>
            <div class="v3_3645"></div>
            <div class="v3_3646"></div>
            <div class="v3_3647"></div>
            <div class="v3_3648"></div>
            <div class="v3_3649"></div>
            <div class="v3_3650"></div>
            <div class="v3_3651"></div>
            <div class="v3_3652"></div>
            <div class="v3_3653"></div>
            <div class="v3_3654"></div>
            <div class="v3_3655"></div>
            <div class="v3_3656"></div>
            <div class="v3_3657"></div>
            <div class="v3_3658"></div>
            <div class="v3_3659"></div>
            <div class="v3_3660"></div>
            <div class="v3_3661"></div>
            <div class="v3_3662"></div>
            <div class="v3_3663"></div>
            <div class="v3_3664"></div>
            <div class="v3_3665"></div>
            <div class="v3_3666"></div>
            <div class="v3_3667"></div>
            <div class="v3_3668"></div>
            <div class="v3_3669"></div>
            <div class="v3_3670"></div>
            <div class="v3_3671"></div>
            <div class="v3_3672"></div>
            <div class="v3_3673"></div>
            <div class="v3_3674"></div>
            <div class="v3_3675"></div>
            <div class="v3_3676"></div>
        </div>

        <span class="v3_3682">QUICK LINKS</span><span class="v3_3683">OUR SERVICES</span><span class="v3_3684">OUR TECHNOLOGIES</span><span
            class="v3_3685">CONTACT & FOLLOW US</span>
        <span class="v3_3686">Home</span><span
            class="v3_3688">Web Development</span><span class="v3_3689">Mobile Applications</span><span class="v3_3690">React Native</span><span
            class="v3_3691">Phone: +1 778 922 9922</span><span
            class="v3_3692">E-mail: contact@appstracted.com</span><span class="v3_3693">About</span><span class="v3_3694">Our Policy</span><span class="v3_3697">Digital Product Design</span><span
            class="v3_3698">Angular Development</span><span class="v3_3699">Cloud/DevOps</span><span class="v3_3700">Laravel Development</span><span
            class="v3_3701">Dedicated Development
Team</span><span class="v3_3702">Appstracted Solution Copyright 2023  - All Right Reserved</span>




    </div>
    <span onclick="location.href='/';" style="cursor: pointer;" class="v7_6864">Appstracted</span></div>
</body>
</html>