<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/contact.css' %}"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>APPSTRACTED</title></head>
<body>
<div class="v3_4728">
    <div class="v3_4729"></div>
    <div class="v3_4730">
        <div class="v3_4731"></div>
        <div class="v3_4732"></div>
        <div style="background-image: url('/static/myapp/contact/v3_4733.png');" class="v3_4733"></div>
        <span class="v3_4734">Contact Us</span><span class="v3_4735">We are located in Canada and we operate internationally, with clients from the US, Canada, and many other countries.</span>
        <div class="v3_4736"></div>
        <div class="v3_4737"></div>
        <span class="v3_4738">DO YOU HAVE ANY QUESTION</span>
        <div class="v3_4739">
            <div class="v3_4740"></div>
            <div class="v3_4741"></div>
            <div class="v3_4742"></div>
            <div class="v3_4743"></div>
            <div class="v3_4744"></div>
            <div class="v3_4745"></div>
            <div class="v3_4746"></div>
            <div class="v3_4747"></div>
            <div class="v3_4748"></div>
            <div class="v3_4749"></div>
            <div class="v3_4750"></div>
            <div class="v3_4751"></div>
            <div class="v3_4752"></div>
            <div class="v3_4753"></div>
            <div class="v3_4754"></div>
            <div class="v3_4755"></div>
            <div class="v3_4756"></div>
            <div class="v3_4757"></div>
            <div class="v3_4758"></div>
            <div class="v3_4759"></div>
            <div class="v3_4760"></div>
            <div class="v3_4761"></div>
            <div class="v3_4762"></div>
            <div class="v3_4763"></div>
            <div class="v3_4764"></div>
            <div class="v3_4765"></div>
            <div class="v3_4766"></div>
            <div class="v3_4767"></div>
            <div class="v3_4768"></div>
            <div class="v3_4769"></div>
            <div class="v3_4770"></div>
            <div class="v3_4771"></div>
            <div class="v3_4772"></div>
            <div class="v3_4773"></div>
            <div class="v3_4774"></div>
            <div class="v3_4775"></div>
            <div class="v3_4776"></div>
            <div class="v3_4777"></div>
            <div class="v3_4778"></div>
            <div class="v3_4779"></div>
            <div class="v3_4780"></div>
            <div class="v3_4781"></div>
            <div class="v3_4782"></div>
            <div class="v3_4783"></div>
            <div class="v3_4784"></div>
            <div class="v3_4785"></div>
            <div class="v3_4786"></div>
            <div class="v3_4787"></div>
            <div class="v3_4788"></div>
            <div class="v3_4789"></div>
            <div class="v3_4790"></div>
            <div class="v3_4791"></div>
            <div class="v3_4792"></div>
            <div class="v3_4793"></div>
            <div class="v3_4794"></div>
            <div class="v3_4795"></div>
            <div class="v3_4796"></div>
            <div class="v3_4797"></div>
            <div class="v3_4798"></div>
            <div class="v3_4799"></div>
            <div class="v3_4800"></div>
            <div class="v3_4801"></div>
            <div class="v3_4802"></div>
            <div class="v3_4803"></div>
            <div class="v3_4804"></div>
            <div class="v3_4805"></div>
            <div class="v3_4806"></div>
            <div class="v3_4807"></div>
            <div class="v3_4808"></div>
            <div class="v3_4809"></div>
            <div class="v3_4810"></div>
            <div class="v3_4811"></div>
            <div class="v3_4812"></div>
            <div class="v3_4813"></div>
            <div class="v3_4814"></div>
            <div class="v3_4815"></div>
            <div class="v3_4816"></div>
            <div class="v3_4817"></div>
            <div class="v3_4818"></div>
            <div class="v3_4819"></div>
            <div class="v3_4820"></div>
            <div class="v3_4821"></div>
            <div class="v3_4822"></div>
            <div class="v3_4823"></div>
            <div class="v3_4824"></div>
            <div class="v3_4825"></div>
            <div class="v3_4826"></div>
            <div class="v3_4827"></div>
            <div class="v3_4828"></div>
            <div class="v3_4829"></div>
            <div class="v3_4830"></div>
            <div class="v3_4831"></div>
            <div class="v3_4832"></div>
            <div class="v3_4833"></div>
            <div class="v3_4834"></div>
            <div class="v3_4835"></div>
            <div class="v3_4836"></div>
            <div class="v3_4837"></div>
            <div class="v3_4838"></div>
            <div class="v3_4839"></div>
            <div class="v3_4840"></div>
            <div class="v3_4841"></div>
            <div class="v3_4842"></div>
            <div class="v3_4843"></div>
            <div class="v3_4844"></div>
            <div class="v3_4845"></div>
            <div class="v3_4846"></div>
            <div class="v3_4847"></div>
            <div class="v3_4848"></div>
            <div class="v3_4849"></div>
            <div class="v3_4850"></div>
            <div class="v3_4851"></div>
            <div class="v3_4852"></div>
            <div class="v3_4853"></div>
            <div class="v3_4854"></div>
            <div class="v3_4855"></div>
            <div class="v3_4856"></div>
            <div class="v3_4857"></div>
            <div class="v3_4858"></div>
            <div class="v3_4859"></div>
        </div>
        <div class="v3_4860">
            <span onclick="location.href='/about';" style="cursor: pointer;" class="v3_4870">ABOUT </span>
            <span onclick="location.href='/portfolio';" style="cursor: pointer;" class="v3_4871">PORTFOLIO</span>
            <span onclick="location.href='/expertise';" style="cursor: pointer;" class="v3_4873">EXPERTISE</span>
            <span onclick="location.href='/contact';" style="cursor: pointer;" class="v3_4874">CONTACT</span>
        </div>
    </div>
    <div class="v3_4876">
        <div class="v3_4877"></div>
        <div class="v3_4878">
            <div class="v3_4879"></div>
            <div class="v3_4880"></div>
            <div class="v3_4881"></div>
            <div class="v3_4882"></div>
            <div class="v3_4883"></div>
            <div class="v3_4884"></div>
            <div class="v3_4885"></div>
            <div class="v3_4886"></div>
            <div class="v3_4887"></div>
            <div class="v3_4888"></div>
            <div class="v3_4889"></div>
            <div class="v3_4890"></div>
            <div class="v3_4891"></div>
            <div class="v3_4892"></div>
            <div class="v3_4893"></div>
            <div class="v3_4894"></div>
            <div class="v3_4895"></div>
            <div class="v3_4896"></div>
            <div class="v3_4897"></div>
            <div class="v3_4898"></div>
            <div class="v3_4899"></div>
            <div class="v3_4900"></div>
            <div class="v3_4901"></div>
            <div class="v3_4902"></div>
            <div class="v3_4903"></div>
            <div class="v3_4904"></div>
            <div class="v3_4905"></div>
            <div class="v3_4906"></div>
            <div class="v3_4907"></div>
            <div class="v3_4908"></div>
            <div class="v3_4909"></div>
            <div class="v3_4910"></div>
            <div class="v3_4911"></div>
            <div class="v3_4912"></div>
            <div class="v3_4913"></div>
            <div class="v3_4914"></div>
            <div class="v3_4915"></div>
            <div class="v3_4916"></div>
            <div class="v3_4917"></div>
            <div class="v3_4918"></div>
            <div class="v3_4919"></div>
            <div class="v3_4920"></div>
            <div class="v3_4921"></div>
            <div class="v3_4922"></div>
            <div class="v3_4923"></div>
            <div class="v3_4924"></div>
            <div class="v3_4925"></div>
            <div class="v3_4926"></div>
            <div class="v3_4927"></div>
            <div class="v3_4928"></div>
            <div class="v3_4929"></div>
            <div class="v3_4930"></div>
            <div class="v3_4931"></div>
            <div class="v3_4932"></div>
            <div class="v3_4933"></div>
            <div class="v3_4934"></div>
            <div class="v3_4935"></div>
            <div class="v3_4936"></div>
            <div class="v3_4937"></div>
            <div class="v3_4938"></div>
            <div class="v3_4939"></div>
            <div class="v3_4940"></div>
            <div class="v3_4941"></div>
            <div class="v3_4942"></div>
            <div class="v3_4943"></div>
            <div class="v3_4944"></div>
            <div class="v3_4945"></div>
            <div class="v3_4946"></div>
            <div class="v3_4947"></div>
            <div class="v3_4948"></div>
            <div class="v3_4949"></div>
            <div class="v3_4950"></div>
            <div class="v3_4951"></div>
            <div class="v3_4952"></div>
            <div class="v3_4953"></div>
            <div class="v3_4954"></div>
            <div class="v3_4955"></div>
            <div class="v3_4956"></div>
            <div class="v3_4957"></div>
            <div class="v3_4958"></div>
            <div class="v3_4959"></div>
            <div class="v3_4960"></div>
            <div class="v3_4961"></div>
            <div class="v3_4962"></div>
            <div class="v3_4963"></div>
            <div class="v3_4964"></div>
            <div class="v3_4965"></div>
            <div class="v3_4966"></div>
            <div class="v3_4967"></div>
            <div class="v3_4968"></div>
            <div class="v3_4969"></div>
            <div class="v3_4970"></div>
            <div class="v3_4971"></div>
            <div class="v3_4972"></div>
            <div class="v3_4973"></div>
            <div class="v3_4974"></div>
            <div class="v3_4975"></div>
            <div class="v3_4976"></div>
            <div class="v3_4977"></div>
            <div class="v3_4978"></div>
            <div class="v3_4979"></div>
            <div class="v3_4980"></div>
            <div class="v3_4981"></div>
            <div class="v3_4982"></div>
            <div class="v3_4983"></div>
            <div class="v3_4984"></div>
            <div class="v3_4985"></div>
            <div class="v3_4986"></div>
            <div class="v3_4987"></div>
            <div class="v3_4988"></div>
            <div class="v3_4989"></div>
            <div class="v3_4990"></div>
            <div class="v3_4991"></div>
            <div class="v3_4992"></div>
            <div class="v3_4993"></div>
            <div class="v3_4994"></div>
            <div class="v3_4995"></div>
            <div class="v3_4996"></div>
            <div class="v3_4997"></div>
            <div class="v3_4998"></div>
            <div class="v3_4999"></div>
            <div class="v3_5000"></div>
            <div class="v3_5001"></div>
            <div class="v3_5002"></div>
            <div class="v3_5003"></div>
            <div class="v3_5004"></div>
            <div class="v3_5005"></div>
            <div class="v3_5006"></div>
            <div class="v3_5007"></div>
            <div class="v3_5008"></div>
            <div class="v3_5009"></div>
            <div class="v3_5010"></div>
            <div class="v3_5011"></div>
            <div class="v3_5012"></div>
            <div class="v3_5013"></div>
            <div class="v3_5014"></div>
            <div class="v3_5015"></div>
            <div class="v3_5016"></div>
            <div class="v3_5017"></div>
            <div class="v3_5018"></div>
            <div class="v3_5019"></div>
            <div class="v3_5020"></div>
            <div class="v3_5021"></div>
            <div class="v3_5022"></div>
            <div class="v3_5023"></div>
            <div class="v3_5024"></div>
            <div class="v3_5025"></div>
            <div class="v3_5026"></div>
            <div class="v3_5027"></div>
            <div class="v3_5028"></div>
            <div class="v3_5029"></div>
            <div class="v3_5030"></div>
            <div class="v3_5031"></div>
            <div class="v3_5032"></div>
            <div class="v3_5033"></div>
            <div class="v3_5034"></div>
            <div class="v3_5035"></div>
            <div class="v3_5036"></div>
            <div class="v3_5037"></div>
            <div class="v3_5038"></div>
            <div class="v3_5039"></div>
            <div class="v3_5040"></div>
            <div class="v3_5041"></div>
            <div class="v3_5042"></div>
            <div class="v3_5043"></div>
            <div class="v3_5044"></div>
            <div class="v3_5045"></div>
            <div class="v3_5046"></div>
            <div class="v3_5047"></div>
            <div class="v3_5048"></div>
            <div class="v3_5049"></div>
            <div class="v3_5050"></div>
            <div class="v3_5051"></div>
            <div class="v3_5052"></div>
            <div class="v3_5053"></div>
            <div class="v3_5054"></div>
            <div class="v3_5055"></div>
            <div class="v3_5056"></div>
            <div class="v3_5057"></div>
            <div class="v3_5058"></div>
            <div class="v3_5059"></div>
            <div class="v3_5060"></div>
            <div class="v3_5061"></div>
            <div class="v3_5062"></div>
            <div class="v3_5063"></div>
            <div class="v3_5064"></div>
            <div class="v3_5065"></div>
            <div class="v3_5066"></div>
            <div class="v3_5067"></div>
            <div class="v3_5068"></div>
            <div class="v3_5069"></div>
            <div class="v3_5070"></div>
            <div class="v3_5071"></div>
            <div class="v3_5072"></div>
            <div class="v3_5073"></div>
            <div class="v3_5074"></div>
            <div class="v3_5075"></div>
            <div class="v3_5076"></div>
            <div class="v3_5077"></div>
            <div class="v3_5078"></div>
            <div class="v3_5079"></div>
            <div class="v3_5080"></div>
            <div class="v3_5081"></div>
            <div class="v3_5082"></div>
            <div class="v3_5083"></div>
            <div class="v3_5084"></div>
            <div class="v3_5085"></div>
            <div class="v3_5086"></div>
            <div class="v3_5087"></div>
            <div class="v3_5088"></div>
            <div class="v3_5089"></div>
            <div class="v3_5090"></div>
            <div class="v3_5091"></div>
            <div class="v3_5092"></div>
            <div class="v3_5093"></div>
            <div class="v3_5094"></div>
            <div class="v3_5095"></div>
            <div class="v3_5096"></div>
            <div class="v3_5097"></div>
            <div class="v3_5098"></div>
            <div class="v3_5099"></div>
            <div class="v3_5100"></div>
            <div class="v3_5101"></div>
            <div class="v3_5102"></div>
            <div class="v3_5103"></div>
            <div class="v3_5104"></div>
            <div class="v3_5105"></div>
            <div class="v3_5106"></div>
            <div class="v3_5107"></div>
            <div class="v3_5108"></div>
            <div class="v3_5109"></div>
            <div class="v3_5110"></div>
            <div class="v3_5111"></div>
            <div class="v3_5112"></div>
            <div class="v3_5113"></div>
            <div class="v3_5114"></div>
            <div class="v3_5115"></div>
            <div class="v3_5116"></div>
            <div class="v3_5117"></div>
            <div class="v3_5118"></div>
            <div class="v3_5119"></div>
            <div class="v3_5120"></div>
            <div class="v3_5121"></div>
            <div class="v3_5122"></div>
            <div class="v3_5123"></div>
            <div class="v3_5124"></div>
            <div class="v3_5125"></div>
            <div class="v3_5126"></div>
            <div class="v3_5127"></div>
            <div class="v3_5128"></div>
            <div class="v3_5129"></div>
            <div class="v3_5130"></div>
            <div class="v3_5131"></div>
            <div class="v3_5132"></div>
            <div class="v3_5133"></div>
            <div class="v3_5134"></div>
            <div class="v3_5135"></div>
            <div class="v3_5136"></div>
            <div class="v3_5137"></div>
            <div class="v3_5138"></div>
            <div class="v3_5139"></div>
            <div class="v3_5140"></div>
            <div class="v3_5141"></div>
            <div class="v3_5142"></div>
            <div class="v3_5143"></div>
            <div class="v3_5144"></div>
            <div class="v3_5145"></div>
            <div class="v3_5146"></div>
            <div class="v3_5147"></div>
            <div class="v3_5148"></div>
            <div class="v3_5149"></div>
            <div class="v3_5150"></div>
            <div class="v3_5151"></div>
            <div class="v3_5152"></div>
            <div class="v3_5153"></div>
            <div class="v3_5154"></div>
            <div class="v3_5155"></div>
            <div class="v3_5156"></div>
            <div class="v3_5157"></div>
            <div class="v3_5158"></div>
            <div class="v3_5159"></div>
            <div class="v3_5160"></div>
            <div class="v3_5161"></div>
            <div class="v3_5162"></div>
            <div class="v3_5163"></div>
            <div class="v3_5164"></div>
            <div class="v3_5165"></div>
            <div class="v3_5166"></div>
            <div class="v3_5167"></div>
            <div class="v3_5168"></div>
            <div class="v3_5169"></div>
            <div class="v3_5170"></div>
            <div class="v3_5171"></div>
            <div class="v3_5172"></div>
            <div class="v3_5173"></div>
            <div class="v3_5174"></div>
            <div class="v3_5175"></div>
            <div class="v3_5176"></div>
            <div class="v3_5177"></div>
            <div class="v3_5178"></div>
            <div class="v3_5179"></div>
            <div class="v3_5180"></div>
            <div class="v3_5181"></div>
            <div class="v3_5182"></div>
            <div class="v3_5183"></div>
            <div class="v3_5184"></div>
            <div class="v3_5185"></div>
            <div class="v3_5186"></div>
            <div class="v3_5187"></div>
            <div class="v3_5188"></div>
            <div class="v3_5189"></div>
            <div class="v3_5190"></div>
            <div class="v3_5191"></div>
            <div class="v3_5192"></div>
            <div class="v3_5193"></div>
            <div class="v3_5194"></div>
            <div class="v3_5195"></div>
            <div class="v3_5196"></div>
            <div class="v3_5197"></div>
            <div class="v3_5198"></div>
            <div class="v3_5199"></div>
            <div class="v3_5200"></div>
            <div class="v3_5201"></div>
            <div class="v3_5202"></div>
            <div class="v3_5203"></div>
            <div class="v3_5204"></div>
            <div class="v3_5205"></div>
            <div class="v3_5206"></div>
            <div class="v3_5207"></div>
            <div class="v3_5208"></div>
            <div class="v3_5209"></div>
            <div class="v3_5210"></div>
            <div class="v3_5211"></div>
            <div class="v3_5212"></div>
            <div class="v3_5213"></div>
            <div class="v3_5214"></div>
            <div class="v3_5215"></div>
            <div class="v3_5216"></div>
            <div class="v3_5217"></div>
            <div class="v3_5218"></div>
            <div class="v3_5219"></div>
            <div class="v3_5220"></div>
            <div class="v3_5221"></div>
            <div class="v3_5222"></div>
            <div class="v3_5223"></div>
            <div class="v3_5224"></div>
            <div class="v3_5225"></div>
            <div class="v3_5226"></div>
            <div class="v3_5227"></div>
            <div class="v3_5228"></div>
            <div class="v3_5229"></div>
            <div class="v3_5230"></div>
            <div class="v3_5231"></div>
            <div class="v3_5232"></div>
            <div class="v3_5233"></div>
            <div class="v3_5234"></div>
            <div class="v3_5235"></div>
            <div class="v3_5236"></div>
            <div class="v3_5237"></div>
            <div class="v3_5238"></div>
            <div class="v3_5239"></div>
            <div class="v3_5240"></div>
            <div class="v3_5241"></div>
            <div class="v3_5242"></div>
            <div class="v3_5243"></div>
            <div class="v3_5244"></div>
            <div class="v3_5245"></div>
            <div class="v3_5246"></div>
            <div class="v3_5247"></div>
            <div class="v3_5248"></div>
            <div class="v3_5249"></div>
            <div class="v3_5250"></div>
            <div class="v3_5251"></div>
            <div class="v3_5252"></div>
            <div class="v3_5253"></div>
            <div class="v3_5254"></div>
            <div class="v3_5255"></div>
            <div class="v3_5256"></div>
            <div class="v3_5257"></div>
            <div class="v3_5258"></div>
            <div class="v3_5259"></div>
            <div class="v3_5260"></div>
            <div class="v3_5261"></div>
            <div class="v3_5262"></div>
            <div class="v3_5263"></div>
            <div class="v3_5264"></div>
            <div class="v3_5265"></div>
            <div class="v3_5266"></div>
            <div class="v3_5267"></div>
            <div class="v3_5268"></div>
            <div class="v3_5269"></div>
            <div class="v3_5270"></div>
            <div class="v3_5271"></div>
            <div class="v3_5272"></div>
            <div class="v3_5273"></div>
            <div class="v3_5274"></div>
            <div class="v3_5275"></div>
            <div class="v3_5276"></div>
            <div class="v3_5277"></div>
            <div class="v3_5278"></div>
            <div class="v3_5279"></div>
            <div class="v3_5280"></div>
            <div class="v3_5281"></div>
            <div class="v3_5282"></div>
            <div class="v3_5283"></div>
            <div class="v3_5284"></div>
            <div class="v3_5285"></div>
            <div class="v3_5286"></div>
            <div class="v3_5287"></div>
            <div class="v3_5288"></div>
            <div class="v3_5289"></div>
            <div class="v3_5290"></div>
            <div class="v3_5291"></div>
            <div class="v3_5292"></div>
            <div class="v3_5293"></div>
            <div class="v3_5294"></div>
            <div class="v3_5295"></div>
            <div class="v3_5296"></div>
            <div class="v3_5297"></div>
            <div class="v3_5298"></div>
            <div class="v3_5299"></div>
            <div class="v3_5300"></div>
            <div class="v3_5301"></div>
            <div class="v3_5302"></div>
            <div class="v3_5303"></div>
            <div class="v3_5304"></div>
            <div class="v3_5305"></div>
            <div class="v3_5306"></div>
            <div class="v3_5307"></div>
            <div class="v3_5308"></div>
            <div class="v3_5309"></div>
            <div class="v3_5310"></div>
            <div class="v3_5311"></div>
            <div class="v3_5312"></div>
            <div class="v3_5313"></div>
            <div class="v3_5314"></div>
            <div class="v3_5315"></div>
            <div class="v3_5316"></div>
            <div class="v3_5317"></div>
            <div class="v3_5318"></div>
            <div class="v3_5319"></div>
            <div class="v3_5320"></div>
            <div class="v3_5321"></div>
            <div class="v3_5322"></div>
            <div class="v3_5323"></div>
            <div class="v3_5324"></div>
            <div class="v3_5325"></div>
            <div class="v3_5326"></div>
            <div class="v3_5327"></div>
            <div class="v3_5328"></div>
            <div class="v3_5329"></div>
            <div class="v3_5330"></div>
            <div class="v3_5331"></div>
            <div class="v3_5332"></div>
            <div class="v3_5333"></div>
            <div class="v3_5334"></div>
            <div class="v3_5335"></div>
            <div class="v3_5336"></div>
            <div class="v3_5337"></div>
            <div class="v3_5338"></div>
            <div class="v3_5339"></div>
            <div class="v3_5340"></div>
            <div class="v3_5341"></div>
            <div class="v3_5342"></div>
            <div class="v3_5343"></div>
            <div class="v3_5344"></div>
            <div class="v3_5345"></div>
            <div class="v3_5346"></div>
            <div class="v3_5347"></div>
            <div class="v3_5348"></div>
            <div class="v3_5349"></div>
            <div class="v3_5350"></div>
            <div class="v3_5351"></div>
            <div class="v3_5352"></div>
            <div class="v3_5353"></div>
            <div class="v3_5354"></div>
            <div class="v3_5355"></div>
            <div class="v3_5356"></div>
            <div class="v3_5357"></div>
            <div class="v3_5358"></div>
            <div class="v3_5359"></div>
            <div class="v3_5360"></div>
            <div class="v3_5361"></div>
            <div class="v3_5362"></div>
            <div class="v3_5363"></div>
            <div class="v3_5364"></div>
            <div class="v3_5365"></div>
            <div class="v3_5366"></div>
            <div class="v3_5367"></div>
            <div class="v3_5368"></div>
            <div class="v3_5369"></div>
            <div class="v3_5370"></div>
            <div class="v3_5371"></div>
            <div class="v3_5372"></div>
            <div class="v3_5373"></div>
            <div class="v3_5374"></div>
            <div class="v3_5375"></div>
            <div class="v3_5376"></div>
            <div class="v3_5377"></div>
            <div class="v3_5378"></div>
            <div class="v3_5379"></div>
            <div class="v3_5380"></div>
            <div class="v3_5381"></div>
            <div class="v3_5382"></div>
            <div class="v3_5383"></div>
            <div class="v3_5384"></div>
            <div class="v3_5385"></div>
            <div class="v3_5386"></div>
            <div class="v3_5387"></div>
            <div class="v3_5388"></div>
            <div class="v3_5389"></div>
            <div class="v3_5390"></div>
            <div class="v3_5391"></div>
            <div class="v3_5392"></div>
            <div class="v3_5393"></div>
            <div class="v3_5394"></div>
            <div class="v3_5395"></div>
            <div class="v3_5396"></div>
            <div class="v3_5397"></div>
            <div class="v3_5398"></div>
            <div class="v3_5399"></div>
            <div class="v3_5400"></div>
            <div class="v3_5401"></div>
            <div class="v3_5402"></div>
            <div class="v3_5403"></div>
            <div class="v3_5404"></div>
            <div class="v3_5405"></div>
            <div class="v3_5406"></div>
            <div class="v3_5407"></div>
            <div class="v3_5408"></div>
            <div class="v3_5409"></div>
            <div class="v3_5410"></div>
            <div class="v3_5411"></div>
            <div class="v3_5412"></div>
            <div class="v3_5413"></div>
            <div class="v3_5414"></div>
            <div class="v3_5415"></div>
            <div class="v3_5416"></div>
            <div class="v3_5417"></div>
            <div class="v3_5418"></div>
            <div class="v3_5419"></div>
            <div class="v3_5420"></div>
            <div class="v3_5421"></div>
            <div class="v3_5422"></div>
            <div class="v3_5423"></div>
            <div class="v3_5424"></div>
            <div class="v3_5425"></div>
            <div class="v3_5426"></div>
            <div class="v3_5427"></div>
            <div class="v3_5428"></div>
            <div class="v3_5429"></div>
            <div class="v3_5430"></div>
            <div class="v3_5431"></div>
            <div class="v3_5432"></div>
            <div class="v3_5433"></div>
            <div class="v3_5434"></div>
            <div class="v3_5435"></div>
            <div class="v3_5436"></div>
            <div class="v3_5437"></div>
            <div class="v3_5438"></div>
            <div class="v3_5439"></div>
            <div class="v3_5440"></div>
            <div class="v3_5441"></div>
            <div class="v3_5442"></div>
            <div class="v3_5443"></div>
            <div class="v3_5444"></div>
            <div class="v3_5445"></div>
            <div class="v3_5446"></div>
            <div class="v3_5447"></div>
            <div class="v3_5448"></div>
            <div class="v3_5449"></div>
            <div class="v3_5450"></div>
            <div class="v3_5451"></div>
            <div class="v3_5452"></div>
            <div class="v3_5453"></div>
            <div class="v3_5454"></div>
            <div class="v3_5455"></div>
            <div class="v3_5456"></div>
            <div class="v3_5457"></div>
            <div class="v3_5458"></div>
            <div class="v3_5459"></div>
            <div class="v3_5460"></div>
            <div class="v3_5461"></div>
            <div class="v3_5462"></div>
            <div class="v3_5463"></div>
            <div class="v3_5464"></div>
            <div class="v3_5465"></div>
            <div class="v3_5466"></div>
            <div class="v3_5467"></div>
            <div class="v3_5468"></div>
            <div class="v3_5469"></div>
            <div class="v3_5470"></div>
            <div class="v3_5471"></div>
            <div class="v3_5472"></div>
            <div class="v3_5473"></div>
            <div class="v3_5474"></div>
            <div class="v3_5475"></div>
            <div class="v3_5476"></div>
            <div class="v3_5477"></div>
            <div class="v3_5478"></div>
            <div class="v3_5479"></div>
            <div class="v3_5480"></div>
            <div class="v3_5481"></div>
            <div class="v3_5482"></div>
            <div class="v3_5483"></div>
            <div class="v3_5484"></div>
            <div class="v3_5485"></div>
            <div class="v3_5486"></div>
            <div class="v3_5487"></div>
            <div class="v3_5488"></div>
            <div class="v3_5489"></div>
            <div class="v3_5490"></div>
            <div class="v3_5491"></div>
            <div class="v3_5492"></div>
            <div class="v3_5493"></div>
            <div class="v3_5494"></div>
            <div class="v3_5495"></div>
            <div class="v3_5496"></div>
            <div class="v3_5497"></div>
            <div class="v3_5498"></div>
            <div class="v3_5499"></div>
            <div class="v3_5500"></div>
            <div class="v3_5501"></div>
            <div class="v3_5502"></div>
            <div class="v3_5503"></div>
            <div class="v3_5504"></div>
            <div class="v3_5505"></div>
            <div class="v3_5506"></div>
            <div class="v3_5507"></div>
            <div class="v3_5508"></div>
            <div class="v3_5509"></div>
            <div class="v3_5510"></div>
            <div class="v3_5511"></div>
            <div class="v3_5512"></div>
            <div class="v3_5513"></div>
            <div class="v3_5514"></div>
            <div class="v3_5515"></div>
            <div class="v3_5516"></div>
            <div class="v3_5517"></div>
            <div class="v3_5518"></div>
            <div class="v3_5519"></div>
            <div class="v3_5520"></div>
            <div class="v3_5521"></div>
            <div class="v3_5522"></div>
            <div class="v3_5523"></div>
            <div class="v3_5524"></div>
            <div class="v3_5525"></div>
            <div class="v3_5526"></div>
            <div class="v3_5527"></div>
            <div class="v3_5528"></div>
            <div class="v3_5529"></div>
        </div>

        <span class="v3_5535">QUICK LINKS</span><span class="v3_5536">OUR SERVICES</span><span class="v3_5537">OUR TECHNOLOGIES</span><span
            class="v3_5538">CONTACT & FOLLOW US</span><span class="v3_5539">Home</span><span
            class="v3_5541">Web Development</span><span class="v3_5542">Mobile Applications</span><span class="v3_5543">React Native</span><span
            class="v3_5544">Phone: +1 778 922 9922</span><span
            class="v3_5545">E-mail: contact@appstracted.com</span><span class="v3_5546">About</span><span class="v3_5547">Our Policy</span><span class="v3_5550">Digital Product Design</span><span
            class="v3_5551">Angular Development</span><span class="v3_5552">Cloud/DevOps</span><span class="v3_5553">Laravel Development</span><span
            class="v3_5554">Dedicated Development
Team</span><span class="v3_5555">Appstracted Solution Copyright 2023  - All Right Reserved</span>




    </div>
    <div  class="v3_5585"><span class="v3_5586">Let build something
awesome together</span><span class="v3_5587">Pay us a visit</span><span class="v3_5588">Or drop us a line</span>

        <form name="contactForm" method="post">
            {% csrf_token %}
        <input name="customername" style="margin-top:197px; width:420px; height:55px; background: rgba(235,250,244,1); opacity: 1; position: absolute; left: 0px; overflow: hidden; border:0px;">
        <input name="customeremail" style="margin-top:310px; width:420px; height:55px; background: rgba(235,250,244,1); opacity: 1; position: absolute; left: 0px; overflow: hidden; border:0px;">
        <input name="customermessage" style="margin-top:423px; width:420px; height:55px; background: rgba(235,250,244,1); opacity: 1; position: absolute; left: 0px; overflow: hidden; border:0px;">

        <span class="v3_5592">Name</span>
        <span class="v3_5593">Email Address</span>
        <span class="v3_5594">Your Message</span>
        <div class="v3_5595" onclick="document.forms['contactForm'].submit();">
            <span class="v3_5596">Submit</span>
        </div>

        </form>

        <div class="v3_5597"></div>
        <span class="v3_5598">MESSAGE US</span>
        <div class="v3_5599">
            <div class="v3_5600"></div>
            <div class="v3_5601"></div>
            <div class="name"></div>
            <div class="v3_5603" style="background-image: url('/static/myapp/contact/Group.png');">
<!--                <div class="v3_5604"></div>-->
            </div>
            <div class="v3_5605" style="background-image: url('/static/myapp/contact/Group8968.png');">
<!--                <div class="v3_5606"></div>-->
<!--                <div class="v3_5607"></div>-->
<!--                <div class="v3_5608"></div>-->
            </div>
        </div>
        <span class="v3_5609">8775 161 ST,<br>
Surrey, BC V4N 5G3<br>
Canada</span><span class="v3_5610">contact@appstracted.com <br>
+1 778 922 9922</span></div>
    <span onclick="location.href='/';" style="cursor: pointer;" class="v7_6869">Appstracted</span></div>
</body>
<script type="text/javascript">

  {% if Flag %}
      swal({
        text: "{{ mymessage }}",
      })
      .then((homemessage) => {
        if(homemessage)
        {

        }
      });
  {% else %}
      None
  {% endif %}


</script>
</html>