<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/expertise.css' %}"/>
    <title>APPSTRACTED</title></head>
<body>
<div class="v3_9003">
    <div class="v3_9004"></div>
    <div class="v3_9005" style="background-image: url('/static/myapp/expertise/vector42.png');"></div>
    <div class="v3_9006" style="background-image: url('/static/myapp/expertise/v3_9006.png');"></div>
    <span class="v3_9007">The best software has both a strong back-end and a good front-end. We've got the tools and expertise to assist you in creating an intuitive and engaging user experience that your customers will love and your rivals will envy. Our UX/UI Design. Services include</span>
    <div class="v3_9008"></div>
    <div class="v3_9009">

        <div class="v3_9010" style="background-image: url('/static/myapp/expertise/v3_9010.png');"></div>
        <div class="v3_9011" style="background-image: url('/static/myapp/expertise/v3_9011.png');"></div>
        <span class="v3_9012">Web & Mobile Development</span><span class="v3_9013">Digital Product Design.</span><span
            class="v3_9014">We build custom applications to help companies save smarter, grow faster, serve better; through automation, business process management, to create unique advantages for the business. We have been trusted by many businesses to build their entire technology from the ground up. With a highly-qualified, committed, and results-driven team, we can provide modern, scalable, and easily maintainable software solutions.</span><span
            class="v3_9015">Cloud, DevOps &
Deployment</span><span class="v3_9016">We assist clients in leveraging cloud technologies while avoiding any of the IT pain points. We create public cloud applications to allow agile, future-ready business models, and we use automation to speed up and reduce costs in your infrastructure.</span><span
            class="v3_9017">Our DevOps consulting services will support you with each of the three main elements of your DevOps transition, from deployment to optimization. Our DevOps services will assist you in selecting best-in-class resources, equipping your team with the necessary skills, and fine-tuning your processes in order to break down silos, collaborate more effectively, and achieve a cultural shift that supports DevOps thinking</span><span
            class="v3_9018">01</span><span class="v3_9019">02</span><span class="v3_9020">03</span><span
            class="v3_9021">
        ● Design Workshops<br><br>
● UX & UI Consulting<br><br>
● Creative Direction<br><br>
● Prototyping<br><br>
● Usability Testing</span>
<!--        <div class="v3_9022">-->
<!--            <div class="v3_9023"></div>-->
<!--            <span class="v3_9024">Read More</span></div>-->
<!--        <div class="v3_9025">-->
<!--            <div class="v3_9026"></div>-->
<!--            <span class="v3_9027">Read More</span></div>-->
<!--        <div class="v3_9028">-->
<!--            <div class="v3_9029"></div>-->
<!--            <span class="v3_9030">Read More</span></div>-->
        <div class="v3_9031" onclick="location.href='/contact';" style="cursor: pointer;">
            <div class="v3_9032"></div>
            <span class="v3_9033">Contact</span></div>
        <div class="v3_9034" style="background-image: url('/static/myapp/expertise/v3_9034.png');"></div>
        <span class="v3_9035">Let's build great things together!</span><span class="v3_9036">Fill out this form and one of our client success managers will contact you within 24 hours. We
have notifications set to make sure your message is received.</span></div>
    <div class="v3_9037">
        <div class="v3_9038"></div>
        <span class="v3_9039">Do you have a next level-idea?</span><span class="v3_9040">Reach out and we can create magic together</span>
        <div class="v3_9041" onclick="location.href='/contact';" style="cursor: pointer;">
            <div class="v3_9042"></div>
            <span class="v3_9043">MESSAGE US</span></div>
    </div>
    <div class="v3_9044"></div>
    <div class="v3_9045"></div>
    <span class="v3_9046">We provide reliable service to our client that is
unbeatable</span><span class="v3_9047">OUR EXPERTISE</span>
    <div class="v3_9048">
        <div class="v3_9049"></div>
        <div class="v3_9050">
            <div class="v3_9051"></div>
            <div class="v3_9052"></div>
            <div class="v3_9053"></div>
            <div class="v3_9054"></div>
            <div class="v3_9055"></div>
            <div class="v3_9056"></div>
            <div class="v3_9057"></div>
            <div class="v3_9058"></div>
            <div class="v3_9059"></div>
            <div class="v3_9060"></div>
            <div class="v3_9061"></div>
            <div class="v3_9062"></div>
            <div class="v3_9063"></div>
            <div class="v3_9064"></div>
            <div class="v3_9065"></div>
            <div class="v3_9066"></div>
            <div class="v3_9067"></div>
            <div class="v3_9068"></div>
            <div class="v3_9069"></div>
            <div class="v3_9070"></div>
            <div class="v3_9071"></div>
            <div class="v3_9072"></div>
            <div class="v3_9073"></div>
            <div class="v3_9074"></div>
            <div class="v3_9075"></div>
            <div class="v3_9076"></div>
            <div class="v3_9077"></div>
            <div class="v3_9078"></div>
            <div class="v3_9079"></div>
            <div class="v3_9080"></div>
            <div class="v3_9081"></div>
            <div class="v3_9082"></div>
            <div class="v3_9083"></div>
            <div class="v3_9084"></div>
            <div class="v3_9085"></div>
            <div class="v3_9086"></div>
            <div class="v3_9087"></div>
            <div class="v3_9088"></div>
            <div class="v3_9089"></div>
            <div class="v3_9090"></div>
            <div class="v3_9091"></div>
            <div class="v3_9092"></div>
            <div class="v3_9093"></div>
            <div class="v3_9094"></div>
            <div class="v3_9095"></div>
            <div class="v3_9096"></div>
            <div class="v3_9097"></div>
            <div class="v3_9098"></div>
            <div class="v3_9099"></div>
            <div class="v3_9100"></div>
            <div class="v3_9101"></div>
            <div class="v3_9102"></div>
            <div class="v3_9103"></div>
            <div class="v3_9104"></div>
            <div class="v3_9105"></div>
            <div class="v3_9106"></div>
            <div class="v3_9107"></div>
            <div class="v3_9108"></div>
            <div class="v3_9109"></div>
            <div class="v3_9110"></div>
            <div class="v3_9111"></div>
            <div class="v3_9112"></div>
            <div class="v3_9113"></div>
            <div class="v3_9114"></div>
            <div class="v3_9115"></div>
            <div class="v3_9116"></div>
            <div class="v3_9117"></div>
            <div class="v3_9118"></div>
            <div class="v3_9119"></div>
            <div class="v3_9120"></div>
            <div class="v3_9121"></div>
            <div class="v3_9122"></div>
            <div class="v3_9123"></div>
            <div class="v3_9124"></div>
            <div class="v3_9125"></div>
            <div class="v3_9126"></div>
            <div class="v3_9127"></div>
            <div class="v3_9128"></div>
            <div class="v3_9129"></div>
            <div class="v3_9130"></div>
            <div class="v3_9131"></div>
            <div class="v3_9132"></div>
            <div class="v3_9133"></div>
            <div class="v3_9134"></div>
            <div class="v3_9135"></div>
            <div class="v3_9136"></div>
            <div class="v3_9137"></div>
            <div class="v3_9138"></div>
            <div class="v3_9139"></div>
            <div class="v3_9140"></div>
            <div class="v3_9141"></div>
            <div class="v3_9142"></div>
            <div class="v3_9143"></div>
            <div class="v3_9144"></div>
            <div class="v3_9145"></div>
            <div class="v3_9146"></div>
            <div class="v3_9147"></div>
            <div class="v3_9148"></div>
            <div class="v3_9149"></div>
            <div class="v3_9150"></div>
            <div class="v3_9151"></div>
            <div class="v3_9152"></div>
            <div class="v3_9153"></div>
            <div class="v3_9154"></div>
            <div class="v3_9155"></div>
            <div class="v3_9156"></div>
            <div class="v3_9157"></div>
            <div class="v3_9158"></div>
            <div class="v3_9159"></div>
            <div class="v3_9160"></div>
            <div class="v3_9161"></div>
            <div class="v3_9162"></div>
            <div class="v3_9163"></div>
            <div class="v3_9164"></div>
            <div class="v3_9165"></div>
            <div class="v3_9166"></div>
            <div class="v3_9167"></div>
            <div class="v3_9168"></div>
            <div class="v3_9169"></div>
            <div class="v3_9170"></div>
            <div class="v3_9171"></div>
            <div class="v3_9172"></div>
            <div class="v3_9173"></div>
            <div class="v3_9174"></div>
            <div class="v3_9175"></div>
            <div class="v3_9176"></div>
            <div class="v3_9177"></div>
            <div class="v3_9178"></div>
            <div class="v3_9179"></div>
            <div class="v3_9180"></div>
            <div class="v3_9181"></div>
            <div class="v3_9182"></div>
            <div class="v3_9183"></div>
            <div class="v3_9184"></div>
            <div class="v3_9185"></div>
            <div class="v3_9186"></div>
            <div class="v3_9187"></div>
            <div class="v3_9188"></div>
            <div class="v3_9189"></div>
            <div class="v3_9190"></div>
            <div class="v3_9191"></div>
            <div class="v3_9192"></div>
            <div class="v3_9193"></div>
            <div class="v3_9194"></div>
            <div class="v3_9195"></div>
            <div class="v3_9196"></div>
            <div class="v3_9197"></div>
            <div class="v3_9198"></div>
            <div class="v3_9199"></div>
            <div class="v3_9200"></div>
            <div class="v3_9201"></div>
            <div class="v3_9202"></div>
            <div class="v3_9203"></div>
            <div class="v3_9204"></div>
            <div class="v3_9205"></div>
            <div class="v3_9206"></div>
            <div class="v3_9207"></div>
            <div class="v3_9208"></div>
            <div class="v3_9209"></div>
            <div class="v3_9210"></div>
            <div class="v3_9211"></div>
            <div class="v3_9212"></div>
            <div class="v3_9213"></div>
            <div class="v3_9214"></div>
            <div class="v3_9215"></div>
            <div class="v3_9216"></div>
            <div class="v3_9217"></div>
            <div class="v3_9218"></div>
            <div class="v3_9219"></div>
            <div class="v3_9220"></div>
            <div class="v3_9221"></div>
            <div class="v3_9222"></div>
            <div class="v3_9223"></div>
            <div class="v3_9224"></div>
            <div class="v3_9225"></div>
            <div class="v3_9226"></div>
            <div class="v3_9227"></div>
            <div class="v3_9228"></div>
            <div class="v3_9229"></div>
            <div class="v3_9230"></div>
            <div class="v3_9231"></div>
            <div class="v3_9232"></div>
            <div class="v3_9233"></div>
            <div class="v3_9234"></div>
            <div class="v3_9235"></div>
            <div class="v3_9236"></div>
            <div class="v3_9237"></div>
            <div class="v3_9238"></div>
            <div class="v3_9239"></div>
            <div class="v3_9240"></div>
            <div class="v3_9241"></div>
            <div class="v3_9242"></div>
            <div class="v3_9243"></div>
            <div class="v3_9244"></div>
            <div class="v3_9245"></div>
            <div class="v3_9246"></div>
            <div class="v3_9247"></div>
            <div class="v3_9248"></div>
            <div class="v3_9249"></div>
            <div class="v3_9250"></div>
            <div class="v3_9251"></div>
            <div class="v3_9252"></div>
            <div class="v3_9253"></div>
            <div class="v3_9254"></div>
            <div class="v3_9255"></div>
            <div class="v3_9256"></div>
            <div class="v3_9257"></div>
            <div class="v3_9258"></div>
            <div class="v3_9259"></div>
            <div class="v3_9260"></div>
            <div class="v3_9261"></div>
            <div class="v3_9262"></div>
            <div class="v3_9263"></div>
            <div class="v3_9264"></div>
            <div class="v3_9265"></div>
            <div class="v3_9266"></div>
            <div class="v3_9267"></div>
            <div class="v3_9268"></div>
            <div class="v3_9269"></div>
            <div class="v3_9270"></div>
            <div class="v3_9271"></div>
            <div class="v3_9272"></div>
            <div class="v3_9273"></div>
            <div class="v3_9274"></div>
            <div class="v3_9275"></div>
            <div class="v3_9276"></div>
            <div class="v3_9277"></div>
            <div class="v3_9278"></div>
            <div class="v3_9279"></div>
            <div class="v3_9280"></div>
            <div class="v3_9281"></div>
            <div class="v3_9282"></div>
            <div class="v3_9283"></div>
            <div class="v3_9284"></div>
            <div class="v3_9285"></div>
            <div class="v3_9286"></div>
            <div class="v3_9287"></div>
            <div class="v3_9288"></div>
            <div class="v3_9289"></div>
            <div class="v3_9290"></div>
            <div class="v3_9291"></div>
            <div class="v3_9292"></div>
            <div class="v3_9293"></div>
            <div class="v3_9294"></div>
            <div class="v3_9295"></div>
            <div class="v3_9296"></div>
            <div class="v3_9297"></div>
            <div class="v3_9298"></div>
            <div class="v3_9299"></div>
            <div class="v3_9300"></div>
            <div class="v3_9301"></div>
            <div class="v3_9302"></div>
            <div class="v3_9303"></div>
            <div class="v3_9304"></div>
            <div class="v3_9305"></div>
            <div class="v3_9306"></div>
            <div class="v3_9307"></div>
            <div class="v3_9308"></div>
            <div class="v3_9309"></div>
            <div class="v3_9310"></div>
            <div class="v3_9311"></div>
            <div class="v3_9312"></div>
            <div class="v3_9313"></div>
            <div class="v3_9314"></div>
            <div class="v3_9315"></div>
            <div class="v3_9316"></div>
            <div class="v3_9317"></div>
            <div class="v3_9318"></div>
            <div class="v3_9319"></div>
            <div class="v3_9320"></div>
            <div class="v3_9321"></div>
            <div class="v3_9322"></div>
            <div class="v3_9323"></div>
            <div class="v3_9324"></div>
            <div class="v3_9325"></div>
            <div class="v3_9326"></div>
            <div class="v3_9327"></div>
            <div class="v3_9328"></div>
            <div class="v3_9329"></div>
            <div class="v3_9330"></div>
            <div class="v3_9331"></div>
            <div class="v3_9332"></div>
            <div class="v3_9333"></div>
            <div class="v3_9334"></div>
            <div class="v3_9335"></div>
            <div class="v3_9336"></div>
            <div class="v3_9337"></div>
            <div class="v3_9338"></div>
            <div class="v3_9339"></div>
            <div class="v3_9340"></div>
            <div class="v3_9341"></div>
            <div class="v3_9342"></div>
            <div class="v3_9343"></div>
            <div class="v3_9344"></div>
            <div class="v3_9345"></div>
            <div class="v3_9346"></div>
            <div class="v3_9347"></div>
            <div class="v3_9348"></div>
            <div class="v3_9349"></div>
            <div class="v3_9350"></div>
            <div class="v3_9351"></div>
            <div class="v3_9352"></div>
            <div class="v3_9353"></div>
            <div class="v3_9354"></div>
            <div class="v3_9355"></div>
            <div class="v3_9356"></div>
            <div class="v3_9357"></div>
            <div class="v3_9358"></div>
            <div class="v3_9359"></div>
            <div class="v3_9360"></div>
            <div class="v3_9361"></div>
            <div class="v3_9362"></div>
            <div class="v3_9363"></div>
            <div class="v3_9364"></div>
            <div class="v3_9365"></div>
            <div class="v3_9366"></div>
            <div class="v3_9367"></div>
            <div class="v3_9368"></div>
            <div class="v3_9369"></div>
            <div class="v3_9370"></div>
            <div class="v3_9371"></div>
            <div class="v3_9372"></div>
            <div class="v3_9373"></div>
            <div class="v3_9374"></div>
            <div class="v3_9375"></div>
            <div class="v3_9376"></div>
            <div class="v3_9377"></div>
            <div class="v3_9378"></div>
            <div class="v3_9379"></div>
            <div class="v3_9380"></div>
            <div class="v3_9381"></div>
            <div class="v3_9382"></div>
            <div class="v3_9383"></div>
            <div class="v3_9384"></div>
            <div class="v3_9385"></div>
            <div class="v3_9386"></div>
            <div class="v3_9387"></div>
            <div class="v3_9388"></div>
            <div class="v3_9389"></div>
            <div class="v3_9390"></div>
            <div class="v3_9391"></div>
            <div class="v3_9392"></div>
            <div class="v3_9393"></div>
            <div class="v3_9394"></div>
            <div class="v3_9395"></div>
            <div class="v3_9396"></div>
            <div class="v3_9397"></div>
            <div class="v3_9398"></div>
            <div class="v3_9399"></div>
            <div class="v3_9400"></div>
            <div class="v3_9401"></div>
            <div class="v3_9402"></div>
            <div class="v3_9403"></div>
            <div class="v3_9404"></div>
            <div class="v3_9405"></div>
            <div class="v3_9406"></div>
            <div class="v3_9407"></div>
            <div class="v3_9408"></div>
            <div class="v3_9409"></div>
            <div class="v3_9410"></div>
            <div class="v3_9411"></div>
            <div class="v3_9412"></div>
            <div class="v3_9413"></div>
            <div class="v3_9414"></div>
            <div class="v3_9415"></div>
            <div class="v3_9416"></div>
            <div class="v3_9417"></div>
            <div class="v3_9418"></div>
            <div class="v3_9419"></div>
            <div class="v3_9420"></div>
            <div class="v3_9421"></div>
            <div class="v3_9422"></div>
            <div class="v3_9423"></div>
            <div class="v3_9424"></div>
            <div class="v3_9425"></div>
            <div class="v3_9426"></div>
            <div class="v3_9427"></div>
            <div class="v3_9428"></div>
            <div class="v3_9429"></div>
            <div class="v3_9430"></div>
            <div class="v3_9431"></div>
            <div class="v3_9432"></div>
            <div class="v3_9433"></div>
            <div class="v3_9434"></div>
            <div class="v3_9435"></div>
            <div class="v3_9436"></div>
            <div class="v3_9437"></div>
            <div class="v3_9438"></div>
            <div class="v3_9439"></div>
            <div class="v3_9440"></div>
            <div class="v3_9441"></div>
            <div class="v3_9442"></div>
            <div class="v3_9443"></div>
            <div class="v3_9444"></div>
            <div class="v3_9445"></div>
            <div class="v3_9446"></div>
            <div class="v3_9447"></div>
            <div class="v3_9448"></div>
            <div class="v3_9449"></div>
            <div class="v3_9450"></div>
            <div class="v3_9451"></div>
            <div class="v3_9452"></div>
            <div class="v3_9453"></div>
            <div class="v3_9454"></div>
            <div class="v3_9455"></div>
            <div class="v3_9456"></div>
            <div class="v3_9457"></div>
            <div class="v3_9458"></div>
            <div class="v3_9459"></div>
            <div class="v3_9460"></div>
            <div class="v3_9461"></div>
            <div class="v3_9462"></div>
            <div class="v3_9463"></div>
            <div class="v3_9464"></div>
            <div class="v3_9465"></div>
            <div class="v3_9466"></div>
            <div class="v3_9467"></div>
            <div class="v3_9468"></div>
            <div class="v3_9469"></div>
            <div class="v3_9470"></div>
            <div class="v3_9471"></div>
            <div class="v3_9472"></div>
            <div class="v3_9473"></div>
            <div class="v3_9474"></div>
            <div class="v3_9475"></div>
            <div class="v3_9476"></div>
            <div class="v3_9477"></div>
            <div class="v3_9478"></div>
            <div class="v3_9479"></div>
            <div class="v3_9480"></div>
            <div class="v3_9481"></div>
            <div class="v3_9482"></div>
            <div class="v3_9483"></div>
            <div class="v3_9484"></div>
            <div class="v3_9485"></div>
            <div class="v3_9486"></div>
            <div class="v3_9487"></div>
            <div class="v3_9488"></div>
            <div class="v3_9489"></div>
            <div class="v3_9490"></div>
            <div class="v3_9491"></div>
            <div class="v3_9492"></div>
            <div class="v3_9493"></div>
            <div class="v3_9494"></div>
            <div class="v3_9495"></div>
            <div class="v3_9496"></div>
            <div class="v3_9497"></div>
            <div class="v3_9498"></div>
            <div class="v3_9499"></div>
            <div class="v3_9500"></div>
            <div class="v3_9501"></div>
            <div class="v3_9502"></div>
            <div class="v3_9503"></div>
            <div class="v3_9504"></div>
            <div class="v3_9505"></div>
            <div class="v3_9506"></div>
            <div class="v3_9507"></div>
            <div class="v3_9508"></div>
            <div class="v3_9509"></div>
            <div class="v3_9510"></div>
            <div class="v3_9511"></div>
            <div class="v3_9512"></div>
            <div class="v3_9513"></div>
            <div class="v3_9514"></div>
            <div class="v3_9515"></div>
            <div class="v3_9516"></div>
            <div class="v3_9517"></div>
            <div class="v3_9518"></div>
            <div class="v3_9519"></div>
            <div class="v3_9520"></div>
            <div class="v3_9521"></div>
            <div class="v3_9522"></div>
            <div class="v3_9523"></div>
            <div class="v3_9524"></div>
            <div class="v3_9525"></div>
            <div class="v3_9526"></div>
            <div class="v3_9527"></div>
            <div class="v3_9528"></div>
            <div class="v3_9529"></div>
            <div class="v3_9530"></div>
            <div class="v3_9531"></div>
            <div class="v3_9532"></div>
            <div class="v3_9533"></div>
            <div class="v3_9534"></div>
            <div class="v3_9535"></div>
            <div class="v3_9536"></div>
            <div class="v3_9537"></div>
            <div class="v3_9538"></div>
            <div class="v3_9539"></div>
            <div class="v3_9540"></div>
            <div class="v3_9541"></div>
            <div class="v3_9542"></div>
            <div class="v3_9543"></div>
            <div class="v3_9544"></div>
            <div class="v3_9545"></div>
            <div class="v3_9546"></div>
            <div class="v3_9547"></div>
            <div class="v3_9548"></div>
            <div class="v3_9549"></div>
            <div class="v3_9550"></div>
            <div class="v3_9551"></div>
            <div class="v3_9552"></div>
            <div class="v3_9553"></div>
            <div class="v3_9554"></div>
            <div class="v3_9555"></div>
            <div class="v3_9556"></div>
            <div class="v3_9557"></div>
            <div class="v3_9558"></div>
            <div class="v3_9559"></div>
            <div class="v3_9560"></div>
            <div class="v3_9561"></div>
            <div class="v3_9562"></div>
            <div class="v3_9563"></div>
            <div class="v3_9564"></div>
            <div class="v3_9565"></div>
            <div class="v3_9566"></div>
            <div class="v3_9567"></div>
            <div class="v3_9568"></div>
            <div class="v3_9569"></div>
            <div class="v3_9570"></div>
            <div class="v3_9571"></div>
            <div class="v3_9572"></div>
            <div class="v3_9573"></div>
            <div class="v3_9574"></div>
            <div class="v3_9575"></div>
            <div class="v3_9576"></div>
            <div class="v3_9577"></div>
            <div class="v3_9578"></div>
            <div class="v3_9579"></div>
            <div class="v3_9580"></div>
            <div class="v3_9581"></div>
            <div class="v3_9582"></div>
            <div class="v3_9583"></div>
            <div class="v3_9584"></div>
            <div class="v3_9585"></div>
            <div class="v3_9586"></div>
            <div class="v3_9587"></div>
            <div class="v3_9588"></div>
            <div class="v3_9589"></div>
            <div class="v3_9590"></div>
            <div class="v3_9591"></div>
            <div class="v3_9592"></div>
            <div class="v3_9593"></div>
            <div class="v3_9594"></div>
            <div class="v3_9595"></div>
            <div class="v3_9596"></div>
            <div class="v3_9597"></div>
            <div class="v3_9598"></div>
            <div class="v3_9599"></div>
            <div class="v3_9600"></div>
            <div class="v3_9601"></div>
            <div class="v3_9602"></div>
            <div class="v3_9603"></div>
            <div class="v3_9604"></div>
            <div class="v3_9605"></div>
            <div class="v3_9606"></div>
            <div class="v3_9607"></div>
            <div class="v3_9608"></div>
            <div class="v3_9609"></div>
            <div class="v3_9610"></div>
            <div class="v3_9611"></div>
            <div class="v3_9612"></div>
            <div class="v3_9613"></div>
            <div class="v3_9614"></div>
            <div class="v3_9615"></div>
            <div class="v3_9616"></div>
            <div class="v3_9617"></div>
            <div class="v3_9618"></div>
            <div class="v3_9619"></div>
            <div class="v3_9620"></div>
            <div class="v3_9621"></div>
            <div class="v3_9622"></div>
            <div class="v3_9623"></div>
            <div class="v3_9624"></div>
            <div class="v3_9625"></div>
            <div class="v3_9626"></div>
            <div class="v3_9627"></div>
            <div class="v3_9628"></div>
            <div class="v3_9629"></div>
            <div class="v3_9630"></div>
            <div class="v3_9631"></div>
            <div class="v3_9632"></div>
            <div class="v3_9633"></div>
            <div class="v3_9634"></div>
            <div class="v3_9635"></div>
            <div class="v3_9636"></div>
            <div class="v3_9637"></div>
            <div class="v3_9638"></div>
            <div class="v3_9639"></div>
            <div class="v3_9640"></div>
            <div class="v3_9641"></div>
            <div class="v3_9642"></div>
            <div class="v3_9643"></div>
            <div class="v3_9644"></div>
            <div class="v3_9645"></div>
            <div class="v3_9646"></div>
            <div class="v3_9647"></div>
            <div class="v3_9648"></div>
            <div class="v3_9649"></div>
            <div class="v3_9650"></div>
            <div class="v3_9651"></div>
            <div class="v3_9652"></div>
            <div class="v3_9653"></div>
            <div class="v3_9654"></div>
            <div class="v3_9655"></div>
            <div class="v3_9656"></div>
            <div class="v3_9657"></div>
            <div class="v3_9658"></div>
            <div class="v3_9659"></div>
            <div class="v3_9660"></div>
            <div class="v3_9661"></div>
            <div class="v3_9662"></div>
            <div class="v3_9663"></div>
            <div class="v3_9664"></div>
            <div class="v3_9665"></div>
            <div class="v3_9666"></div>
            <div class="v3_9667"></div>
            <div class="v3_9668"></div>
            <div class="v3_9669"></div>
            <div class="v3_9670"></div>
            <div class="v3_9671"></div>
            <div class="v3_9672"></div>
            <div class="v3_9673"></div>
            <div class="v3_9674"></div>
            <div class="v3_9675"></div>
            <div class="v3_9676"></div>
            <div class="v3_9677"></div>
            <div class="v3_9678"></div>
            <div class="v3_9679"></div>
            <div class="v3_9680"></div>
            <div class="v3_9681"></div>
            <div class="v3_9682"></div>
            <div class="v3_9683"></div>
            <div class="v3_9684"></div>
            <div class="v3_9685"></div>
            <div class="v3_9686"></div>
            <div class="v3_9687"></div>
            <div class="v3_9688"></div>
            <div class="v3_9689"></div>
            <div class="v3_9690"></div>
            <div class="v3_9691"></div>
            <div class="v3_9692"></div>
            <div class="v3_9693"></div>
            <div class="v3_9694"></div>
            <div class="v3_9695"></div>
            <div class="v3_9696"></div>
            <div class="v3_9697"></div>
            <div class="v3_9698"></div>
            <div class="v3_9699"></div>
            <div class="v3_9700"></div>
            <div class="v3_9701"></div>
        </div>

        <span class="v3_9707">QUICK LINKS</span><span class="v3_9708">OUR SERVICES</span><span class="v3_9709">OUR TECHNOLOGIES</span><span
            class="v3_9710">CONTACT & FOLLOW US</span><span class="v3_9711">Home</span><span
            class="v3_9713">Web Development</span><span class="v3_9714">Mobile Applications</span><span class="v3_9715">React Native</span><span
            class="v3_9716">Phone: +1 778 922 9922</span><span
            class="v3_9717">E-mail: contact@appstracted.com</span><span class="v3_9718">About</span><span class="v3_9719">Our Policy</span><span class="v3_9722">Digital Product Design</span><span
            class="v3_9723">Angular Development</span><span class="v3_9724">Cloud/DevOps</span><span class="v3_9725">Laravel Development</span><span
            class="v3_9726">Dedicated Development
Team</span><span class="v3_9727">Appstracted Solution Copyright 2023  - All Right Reserved</span>



    </div>
    <div class="v3_9757">
        <span onclick="location.href='/about';" style="cursor: pointer;" class="v3_9767">ABOUT </span>
        <span onclick="location.href='/portfolio';" style="cursor: pointer;" class="v3_9768">PORTFOLIO</span>
        <span onclick="location.href='/expertise';" style="cursor: pointer;" class="v3_9770">EXPERTISE</span>
        <span onclick="location.href='/contact';" style="cursor: pointer;" class="v3_9771">CONTACT</span>
    <div class="v3_9773">
        <div class="v3_9774"></div>
        <div class="v3_9775">
            <div class="v3_9776">
                <div class="v3_9777"></div>
            </div>
        </div>
    </div>
    </div>
    <span onclick="location.href='/';" style="cursor: pointer;" class="v7_6868">Appstracted</span>
    </div>
</div>
</body>
</html>