
<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
<!--    <link href="./css/main.css" rel="stylesheet"/>-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <title>APPSTRACTED</title></head>
<body>
<div class="v3_75">
<!--    <img src="{% static 'myapp/v3_139.png' %}" alt="My image">

style="background-image: url('/static/myapp/v3_139.png');"-->
    <div class="v3_76">
        <div class="v3_77"></div>
        <div class="v3_78">
            <div class="v3_79">
                <div class="v3_80"></div>
            </div>
        </div>
    </div>
    <div class="v3_81">
        <div class="v3_82"></div>
        <div class="v3_83"></div>
        <div class="v3_84"></div>
        <div class="v3_85"></div>
        <div class="v3_86"></div>
        <div class="v3_87"></div>
        <span class="v3_88">Top Code Quality</span><span class="v3_89">Fast Turn-arounds</span><span class="v3_90">Responsive</span><span
            class="v3_91">Life-time support</span><span class="v3_92">Rockstar Team</span><span class="v3_93">Secured Agreement</span><span
            class="v3_94">Our Promise</span><span class="v3_95">As part of our high quality service, we'd like to offer something extra too.</span><span
            class="v3_96">What we promise is not simply code
but rather a solution. You get a W3C
fully compliant markup with no
compromise on quality.</span><span class="v3_97">Speed matters no less than quality. We
are fast, agile and capable of delivering
top notch quality code in a timeframe
chosen by you.</span><span class="v3_98">We know you look for positive attitude,
timely reactions, and flexibility. We are
here to listen and give the utmost
of our capabilities.</span><span class="v3_99">The ultimate proof of our code quality :
you get our non-expiring support. If any
bugs happen to appear in the future,
just write us a line.</span><span class="v3_100">Expertise is our USP. You get an all-star
squad of experienced geeks, fully at
your service and armed with coding
skills to die for.</span><span class="v3_101">Your artwork is fully yours and we would
never claim otherwise. You get our word
and our full willingness to sign an NDA.</span>
        <div class="v3_102">
            <div class="v3_103">
                <div class="v3_104" style="background: url('/static/myapp/home/Group8891.png');"></div>
<!--                <div class="v3_105"></div>-->
            </div>
        </div>
        <div class="v3_106">
            <div class="v3_107">
                <div class="v3_108" style="background: url('/static/myapp/home/Group.png');">
<!--                    <div class="v3_109"></div>-->
<!--                    <div class="v3_110" ></div>-->
<!--                    <div class="v3_111"></div>-->
<!--                    <div class="v3_112"></div>-->
                </div>
            </div>
        </div>
        <div class="v3_113">
            <div class="v3_114" style="background: url('/static/myapp/home/Group8894.png');">
<!--                <div class="v3_115"></div>-->
<!--                <div class="v3_116"></div>-->
            </div>
        </div>
        <div class="v3_117">
            <div class="v3_118">
                <div class="v3_119">
                    <div class="v3_120" style="background: url('/static/myapp/home/Group8895.png');"></div>
                </div>
            </div>
        </div>
        <div class="v3_121">
            <div class="v3_122" style="background: url('/static/myapp/home/Group8894.png');">
<!--                <div class="v3_123"></div>-->
<!--                <div class="v3_124" ></div>-->
            </div>
        </div>
        <div class="v3_125">
            <div class="v3_126" style="background: url('/static/myapp/home/Group8893.png');">
<!--                <div class="v3_127"></div>-->
<!--                <div class="v3_128"></div>-->
<!--                <div class="v3_129"></div>-->
            </div>
        </div>
    </div>
    <div class="v3_130">
        <div class="v3_131"></div>
        <span class="v3_132">Do you have a next level-idea?</span><span class="v3_133">Reach out and we can create magic together</span>
        <div class="v3_134" onclick="location.href='/contact';" style="cursor: pointer;">
            <div class="v3_135"></div>
            <span class="v3_136">MESSAGE US</span></div>
    </div>
    <span class="v3_137">Cloud Services</span>
    <div class="v3_138">
        <div class="v3_139" style="background-image: url('/static/myapp/home/v3_139.png');"></div>
        <span class="v3_140">Our Core Services</span><span class="v3_141">We offer a range of services designed to meet your unique needs and help you achieve your business goals.</span>
        <div class="v3_142" style="background-image: url('/static/myapp/home/v3_142.png');"></div>
        <div class="v3_143" style="background-image: url('/static/myapp/home/v3_143.png');"></div>
        <div class="v3_144" style="background-image: url('/static/myapp/home/v3_144.png');"></div>
        <div class="v3_145" style="background-image: url('/static/myapp/home/v3_145.png');"></div>
        <span class="v3_146">Web Development</span><span class="v3_147">Mobile App Development</span><span class="v3_148">Custom Software Development</span><span
            class="v3_149">We create stunning websites that are designed to engage customers and drive sales. Our team of web developers specializes in creating responsive, scalable, and secure websites.</span><span class="v3_150">Our mobile app development services cover the entire spectrum of mobile platforms including iOS, Android, and cross-platform development. We help businesses create powerful mobile applications.</span><span class="v3_151">Our team of experts will work closely with you to understand your business needs and create a custom software solution that meets your specific requirements.</span><span class="v3_152">We offer a range of cloud services including cloud migration, cloud-based app development, and cloud infrastructure management. We help businesses take advantage of the benefits of the cloud.</span></div>
    <div class="v3_153">
        <div class="v3_154">
            <div class="v3_155"></div>
            <div class="v3_156"></div>
        </div>
        <div class="v3_157" style="background-image: url('/static/myapp/home/v3_157.png');"></div>
        <div class="v3_158" onclick="location.href='/contact';" style="cursor: pointer;"><span class="v3_159">Let’s do it</span></div>
        <div style="background-image: url('/static/myapp/home/vector39.png');" class="v3_160"></div>
        <span class="v3_161">Start your journey with us!</span><span class="v3_162">A reliable coding partner that delivers solutions to your business challenges and stays by your side in the long term. Having the whole spectrum of web development expertise, we are here to take care of your projects while making it possible for you to focus on growing your own business.</span></div>
    <div class="v3_163">
        <div class="v3_164">
            <div class="v3_165"></div>
            <span onclick="location.href='/';" style="cursor: pointer;" class="v777_6868">Appstracted</span>
<!--            <span  onclick="location.href='/';" style="cursor: pointer;" class="v103_3332">Appstracted</span>-->
            <div class="v3_166"></div>
        </div>
        <span class="v3_167">Get the next
level developments.</span>
        <span class="v3_168">At Appstracted, we are dedicated to providing exceptional service, quality work, and timely delivery of projects. We are passionate about what we do, and we take pride in helping our clients achieve their goals. Our team of skilled professionals is committed to helping you achieve your goals and succeed in the ever-evolving world of technology.</span>
        <div class="v3_169" onclick="location.href='/portfolio';" style="cursor: pointer;">
            <div class="v3_170"></div>
            <span class="v3_171">Learn More</span></div>
        <div class="v3_172" onclick="location.href='/contact';" style="cursor: pointer;">
            <div class="v3_173">
                <div class="v3_174"></div>
                <span class="v3_175">Schedule a call</span></div>
        </div>
        <div class="v3_176">
            <div class="v3_177"></div>
            <div class="v3_178" style="background-image: url('/static/myapp/home/v3_178.png');"></div>
        </div>
        <div class="v3_179">
            <span onclick="location.href='about';" style="cursor: pointer;" class="v3_190">ABOUT </span>
            <span onclick="location.href='portfolio';" style="cursor: pointer;" class="v3_191">PORTFOLIO</span>
            <span onclick="location.href='expertise';" style="cursor: pointer;" class="v3_192">EXPERTISE</span>
            <span onclick="location.href='contact';" style="cursor: pointer;" class="v3_193">CONTACT</span>
        </div>
    </div>
    <div class="v3_195">
        <div class="v3_196"></div>
        <span class="v3_197">See how are clients feel about us.</span>
        <div class="v3_198">
            <div class="v3_199"></div>
            <div class="v3_200"></div>
        </div>
        <div class="v3_201" style="background: url('/static/myapp/home/Ellipse179.png');"></div>
        <span class="v3_202">Working with the APPSTRACTED team has been a huge success! They're good people who care deeply about our business!</span><span class="v3_203"></span><span class="v3_204">British Columbia Federation of Students</span><span
            class="v3_205"></span>
        <div class="v3_206">
<!--            <div class="v3_207"></div>-->
<!--            <div class="v3_208">-->
<!--                <div class="v3_209">-->
<!--                    <div class="v3_210"></div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
        <div class="v3_211">
            <div class="v3_212"></div>
            <div class="v3_213">
<!--                <div class="v3_214">-->
<!--                    <div class="v3_215"></div>-->
<!--                </div>-->
            </div>
        </div>
        <span class="v3_216">ABOUT US</span><span class="v3_217">TESTIMONIALS</span>
        <div class="v3_218"></div>
        <div class="v3_219"></div>
    </div>
    <div class="v3_220">
        <div class="v3_221"></div>
        <div class="v3_222">
            <div class="v3_223"></div>
            <div class="v3_224"></div>
            <div class="v3_225"></div>
            <div class="v3_226"></div>
            <div class="v3_227"></div>
            <div class="v3_228"></div>
            <div class="v3_229"></div>
            <div class="v3_230"></div>
            <div class="v3_231"></div>
            <div class="v3_232"></div>
            <div class="v3_233"></div>
            <div class="v3_234"></div>
            <div class="v3_235"></div>
            <div class="v3_236"></div>
            <div class="v3_237"></div>
            <div class="v3_238"></div>
            <div class="v3_239"></div>
            <div class="v3_240"></div>
            <div class="v3_241"></div>
            <div class="v3_242"></div>
            <div class="v3_243"></div>
            <div class="v3_244"></div>
            <div class="v3_245"></div>
            <div class="v3_246"></div>
            <div class="v3_247"></div>
            <div class="v3_248"></div>
            <div class="v3_249"></div>
            <div class="v3_250"></div>
            <div class="v3_251"></div>
            <div class="v3_252"></div>
            <div class="v3_253"></div>
            <div class="v3_254"></div>
            <div class="v3_255"></div>
            <div class="v3_256"></div>
            <div class="v3_257"></div>
            <div class="v3_258"></div>
            <div class="v3_259"></div>
            <div class="v3_260"></div>
            <div class="v3_261"></div>
            <div class="v3_262"></div>
            <div class="v3_263"></div>
            <div class="v3_264"></div>
            <div class="v3_265"></div>
            <div class="v3_266"></div>
            <div class="v3_267"></div>
            <div class="v3_268"></div>
            <div class="v3_269"></div>
            <div class="v3_270"></div>
            <div class="v3_271"></div>
            <div class="v3_272"></div>
            <div class="v3_273"></div>
            <div class="v3_274"></div>
            <div class="v3_275"></div>
            <div class="v3_276"></div>
            <div class="v3_277"></div>
            <div class="v3_278"></div>
            <div class="v3_279"></div>
            <div class="v3_280"></div>
            <div class="v3_281"></div>
            <div class="v3_282"></div>
            <div class="v3_283"></div>
            <div class="v3_284"></div>
            <div class="v3_285"></div>
            <div class="v3_286"></div>
            <div class="v3_287"></div>
            <div class="v3_288"></div>
            <div class="v3_289"></div>
            <div class="v3_290"></div>
            <div class="v3_291"></div>
            <div class="v3_292"></div>
            <div class="v3_293"></div>
            <div class="v3_294"></div>
            <div class="v3_295"></div>
            <div class="v3_296"></div>
            <div class="v3_297"></div>
            <div class="v3_298"></div>
            <div class="v3_299"></div>
            <div class="v3_300"></div>
            <div class="v3_301"></div>
            <div class="v3_302"></div>
            <div class="v3_303"></div>
            <div class="v3_304"></div>
            <div class="v3_305"></div>
            <div class="v3_306"></div>
            <div class="v3_307"></div>
            <div class="v3_308"></div>
            <div class="v3_309"></div>
            <div class="v3_310"></div>
            <div class="v3_311"></div>
            <div class="v3_312"></div>
            <div class="v3_313"></div>
            <div class="v3_314"></div>
            <div class="v3_315"></div>
            <div class="v3_316"></div>
            <div class="v3_317"></div>
            <div class="v3_318"></div>
            <div class="v3_319"></div>
            <div class="v3_320"></div>
            <div class="v3_321"></div>
            <div class="v3_322"></div>
            <div class="v3_323"></div>
            <div class="v3_324"></div>
            <div class="v3_325"></div>
            <div class="v3_326"></div>
            <div class="v3_327"></div>
            <div class="v3_328"></div>
            <div class="v3_329"></div>
            <div class="v3_330"></div>
            <div class="v3_331"></div>
            <div class="v3_332"></div>
            <div class="v3_333"></div>
            <div class="v3_334"></div>
            <div class="v3_335"></div>
            <div class="v3_336"></div>
            <div class="v3_337"></div>
            <div class="v3_338"></div>
            <div class="v3_339"></div>
            <div class="v3_340"></div>
            <div class="v3_341"></div>
            <div class="v3_342"></div>
            <div class="v3_343"></div>
            <div class="v3_344"></div>
            <div class="v3_345"></div>
            <div class="v3_346"></div>
            <div class="v3_347"></div>
            <div class="v3_348"></div>
            <div class="v3_349"></div>
            <div class="v3_350"></div>
            <div class="v3_351"></div>
            <div class="v3_352"></div>
            <div class="v3_353"></div>
            <div class="v3_354"></div>
            <div class="v3_355"></div>
            <div class="v3_356"></div>
            <div class="v3_357"></div>
            <div class="v3_358"></div>
            <div class="v3_359"></div>
            <div class="v3_360"></div>
            <div class="v3_361"></div>
            <div class="v3_362"></div>
            <div class="v3_363"></div>
            <div class="v3_364"></div>
            <div class="v3_365"></div>
            <div class="v3_366"></div>
            <div class="v3_367"></div>
            <div class="v3_368"></div>
            <div class="v3_369"></div>
            <div class="v3_370"></div>
            <div class="v3_371"></div>
            <div class="v3_372"></div>
            <div class="v3_373"></div>
            <div class="v3_374"></div>
            <div class="v3_375"></div>
            <div class="v3_376"></div>
            <div class="v3_377"></div>
            <div class="v3_378"></div>
            <div class="v3_379"></div>
            <div class="v3_380"></div>
            <div class="v3_381"></div>
            <div class="v3_382"></div>
            <div class="v3_383"></div>
            <div class="v3_384"></div>
            <div class="v3_385"></div>
            <div class="v3_386"></div>
            <div class="v3_387"></div>
            <div class="v3_388"></div>
            <div class="v3_389"></div>
            <div class="v3_390"></div>
            <div class="v3_391"></div>
            <div class="v3_392"></div>
            <div class="v3_393"></div>
            <div class="v3_394"></div>
            <div class="v3_395"></div>
            <div class="v3_396"></div>
            <div class="v3_397"></div>
            <div class="v3_398"></div>
            <div class="v3_399"></div>
            <div class="v3_400"></div>
            <div class="v3_401"></div>
            <div class="v3_402"></div>
            <div class="v3_403"></div>
            <div class="v3_404"></div>
            <div class="v3_405"></div>
            <div class="v3_406"></div>
            <div class="v3_407"></div>
            <div class="v3_408"></div>
            <div class="v3_409"></div>
            <div class="v3_410"></div>
            <div class="v3_411"></div>
            <div class="v3_412"></div>
            <div class="v3_413"></div>
            <div class="v3_414"></div>
            <div class="v3_415"></div>
            <div class="v3_416"></div>
            <div class="v3_417"></div>
            <div class="v3_418"></div>
            <div class="v3_419"></div>
            <div class="v3_420"></div>
            <div class="v3_421"></div>
            <div class="v3_422"></div>
            <div class="v3_423"></div>
            <div class="v3_424"></div>
            <div class="v3_425"></div>
            <div class="v3_426"></div>
            <div class="v3_427"></div>
            <div class="v3_428"></div>
            <div class="v3_429"></div>
            <div class="v3_430"></div>
            <div class="v3_431"></div>
            <div class="v3_432"></div>
            <div class="v3_433"></div>
            <div class="v3_434"></div>
            <div class="v3_435"></div>
            <div class="v3_436"></div>
            <div class="v3_437"></div>
            <div class="v3_438"></div>
            <div class="v3_439"></div>
            <div class="v3_440"></div>
            <div class="v3_441"></div>
            <div class="v3_442"></div>
            <div class="v3_443"></div>
            <div class="v3_444"></div>
            <div class="v3_445"></div>
            <div class="v3_446"></div>
            <div class="v3_447"></div>
            <div class="v3_448"></div>
            <div class="v3_449"></div>
            <div class="v3_450"></div>
            <div class="v3_451"></div>
            <div class="v3_452"></div>
            <div class="v3_453"></div>
            <div class="v3_454"></div>
            <div class="v3_455"></div>
            <div class="v3_456"></div>
            <div class="v3_457"></div>
            <div class="v3_458"></div>
            <div class="v3_459"></div>
            <div class="v3_460"></div>
            <div class="v3_461"></div>
            <div class="v3_462"></div>
            <div class="v3_463"></div>
            <div class="v3_464"></div>
            <div class="v3_465"></div>
            <div class="v3_466"></div>
            <div class="v3_467"></div>
            <div class="v3_468"></div>
            <div class="v3_469"></div>
            <div class="v3_470"></div>
            <div class="v3_471"></div>
            <div class="v3_472"></div>
            <div class="v3_473"></div>
            <div class="v3_474"></div>
            <div class="v3_475"></div>
            <div class="v3_476"></div>
            <div class="v3_477"></div>
            <div class="v3_478"></div>
            <div class="v3_479"></div>
            <div class="v3_480"></div>
            <div class="v3_481"></div>
            <div class="v3_482"></div>
            <div class="v3_483"></div>
            <div class="v3_484"></div>
            <div class="v3_485"></div>
            <div class="v3_486"></div>
            <div class="v3_487"></div>
            <div class="v3_488"></div>
            <div class="v3_489"></div>
            <div class="v3_490"></div>
            <div class="v3_491"></div>
            <div class="v3_492"></div>
            <div class="v3_493"></div>
            <div class="v3_494"></div>
            <div class="v3_495"></div>
            <div class="v3_496"></div>
            <div class="v3_497"></div>
            <div class="v3_498"></div>
            <div class="v3_499"></div>
            <div class="v3_500"></div>
            <div class="v3_501"></div>
            <div class="v3_502"></div>
            <div class="v3_503"></div>
            <div class="v3_504"></div>
            <div class="v3_505"></div>
            <div class="v3_506"></div>
            <div class="v3_507"></div>
            <div class="v3_508"></div>
            <div class="v3_509"></div>
            <div class="v3_510"></div>
            <div class="v3_511"></div>
            <div class="v3_512"></div>
            <div class="v3_513"></div>
            <div class="v3_514"></div>
            <div class="v3_515"></div>
            <div class="v3_516"></div>
            <div class="v3_517"></div>
            <div class="v3_518"></div>
            <div class="v3_519"></div>
            <div class="v3_520"></div>
            <div class="v3_521"></div>
            <div class="v3_522"></div>
            <div class="v3_523"></div>
            <div class="v3_524"></div>
            <div class="v3_525"></div>
            <div class="v3_526"></div>
            <div class="v3_527"></div>
            <div class="v3_528"></div>
            <div class="v3_529"></div>
            <div class="v3_530"></div>
            <div class="v3_531"></div>
            <div class="v3_532"></div>
            <div class="v3_533"></div>
            <div class="v3_534"></div>
            <div class="v3_535"></div>
            <div class="v3_536"></div>
            <div class="v3_537"></div>
            <div class="v3_538"></div>
            <div class="v3_539"></div>
            <div class="v3_540"></div>
            <div class="v3_541"></div>
            <div class="v3_542"></div>
            <div class="v3_543"></div>
            <div class="v3_544"></div>
            <div class="v3_545"></div>
            <div class="v3_546"></div>
            <div class="v3_547"></div>
            <div class="v3_548"></div>
            <div class="v3_549"></div>
            <div class="v3_550"></div>
            <div class="v3_551"></div>
            <div class="v3_552"></div>
            <div class="v3_553"></div>
            <div class="v3_554"></div>
            <div class="v3_555"></div>
            <div class="v3_556"></div>
            <div class="v3_557"></div>
            <div class="v3_558"></div>
            <div class="v3_559"></div>
            <div class="v3_560"></div>
            <div class="v3_561"></div>
            <div class="v3_562"></div>
            <div class="v3_563"></div>
            <div class="v3_564"></div>
            <div class="v3_565"></div>
            <div class="v3_566"></div>
            <div class="v3_567"></div>
            <div class="v3_568"></div>
            <div class="v3_569"></div>
            <div class="v3_570"></div>
            <div class="v3_571"></div>
            <div class="v3_572"></div>
            <div class="v3_573"></div>
            <div class="v3_574"></div>
            <div class="v3_575"></div>
            <div class="v3_576"></div>
            <div class="v3_577"></div>
            <div class="v3_578"></div>
            <div class="v3_579"></div>
            <div class="v3_580"></div>
            <div class="v3_581"></div>
            <div class="v3_582"></div>
            <div class="v3_583"></div>
            <div class="v3_584"></div>
            <div class="v3_585"></div>
            <div class="v3_586"></div>
            <div class="v3_587"></div>
            <div class="v3_588"></div>
            <div class="v3_589"></div>
            <div class="v3_590"></div>
            <div class="v3_591"></div>
            <div class="v3_592"></div>
            <div class="v3_593"></div>
            <div class="v3_594"></div>
            <div class="v3_595"></div>
            <div class="v3_596"></div>
            <div class="v3_597"></div>
            <div class="v3_598"></div>
            <div class="v3_599"></div>
            <div class="v3_600"></div>
            <div class="v3_601"></div>
            <div class="v3_602"></div>
            <div class="v3_603"></div>
            <div class="v3_604"></div>
            <div class="v3_605"></div>
            <div class="v3_606"></div>
            <div class="v3_607"></div>
            <div class="v3_608"></div>
            <div class="v3_609"></div>
            <div class="v3_610"></div>
            <div class="v3_611"></div>
            <div class="v3_612"></div>
            <div class="v3_613"></div>
            <div class="v3_614"></div>
            <div class="v3_615"></div>
            <div class="v3_616"></div>
            <div class="v3_617"></div>
            <div class="v3_618"></div>
            <div class="v3_619"></div>
            <div class="v3_620"></div>
            <div class="v3_621"></div>
            <div class="v3_622"></div>
            <div class="v3_623"></div>
            <div class="v3_624"></div>
            <div class="v3_625"></div>
            <div class="v3_626"></div>
            <div class="v3_627"></div>
            <div class="v3_628"></div>
            <div class="v3_629"></div>
            <div class="v3_630"></div>
            <div class="v3_631"></div>
            <div class="v3_632"></div>
            <div class="v3_633"></div>
            <div class="v3_634"></div>
            <div class="v3_635"></div>
            <div class="v3_636"></div>
            <div class="v3_637"></div>
            <div class="v3_638"></div>
            <div class="v3_639"></div>
            <div class="v3_640"></div>
            <div class="v3_641"></div>
            <div class="v3_642"></div>
            <div class="v3_643"></div>
            <div class="v3_644"></div>
            <div class="v3_645"></div>
            <div class="v3_646"></div>
            <div class="v3_647"></div>
            <div class="v3_648"></div>
            <div class="v3_649"></div>
            <div class="v3_650"></div>
            <div class="v3_651"></div>
            <div class="v3_652"></div>
            <div class="v3_653"></div>
            <div class="v3_654"></div>
            <div class="v3_655"></div>
            <div class="v3_656"></div>
            <div class="v3_657"></div>
            <div class="v3_658"></div>
            <div class="v3_659"></div>
            <div class="v3_660"></div>
            <div class="v3_661"></div>
            <div class="v3_662"></div>
            <div class="v3_663"></div>
            <div class="v3_664"></div>
            <div class="v3_665"></div>
            <div class="v3_666"></div>
            <div class="v3_667"></div>
            <div class="v3_668"></div>
            <div class="v3_669"></div>
            <div class="v3_670"></div>
            <div class="v3_671"></div>
            <div class="v3_672"></div>
            <div class="v3_673"></div>
            <div class="v3_674"></div>
            <div class="v3_675"></div>
            <div class="v3_676"></div>
            <div class="v3_677"></div>
            <div class="v3_678"></div>
            <div class="v3_679"></div>
            <div class="v3_680"></div>
            <div class="v3_681"></div>
            <div class="v3_682"></div>
            <div class="v3_683"></div>
            <div class="v3_684"></div>
            <div class="v3_685"></div>
            <div class="v3_686"></div>
            <div class="v3_687"></div>
            <div class="v3_688"></div>
            <div class="v3_689"></div>
            <div class="v3_690"></div>
            <div class="v3_691"></div>
            <div class="v3_692"></div>
            <div class="v3_693"></div>
            <div class="v3_694"></div>
            <div class="v3_695"></div>
            <div class="v3_696"></div>
            <div class="v3_697"></div>
            <div class="v3_698"></div>
            <div class="v3_699"></div>
            <div class="v3_700"></div>
            <div class="v3_701"></div>
            <div class="v3_702"></div>
            <div class="v3_703"></div>
            <div class="v3_704"></div>
            <div class="v3_705"></div>
            <div class="v3_706"></div>
            <div class="v3_707"></div>
            <div class="v3_708"></div>
            <div class="v3_709"></div>
            <div class="v3_710"></div>
            <div class="v3_711"></div>
            <div class="v3_712"></div>
            <div class="v3_713"></div>
            <div class="v3_714"></div>
            <div class="v3_715"></div>
            <div class="v3_716"></div>
            <div class="v3_717"></div>
            <div class="v3_718"></div>
            <div class="v3_719"></div>
            <div class="v3_720"></div>
            <div class="v3_721"></div>
            <div class="v3_722"></div>
            <div class="v3_723"></div>
            <div class="v3_724"></div>
            <div class="v3_725"></div>
            <div class="v3_726"></div>
            <div class="v3_727"></div>
            <div class="v3_728"></div>
            <div class="v3_729"></div>
            <div class="v3_730"></div>
            <div class="v3_731"></div>
            <div class="v3_732"></div>
            <div class="v3_733"></div>
            <div class="v3_734"></div>
            <div class="v3_735"></div>
            <div class="v3_736"></div>
            <div class="v3_737"></div>
            <div class="v3_738"></div>
            <div class="v3_739"></div>
            <div class="v3_740"></div>
            <div class="v3_741"></div>
            <div class="v3_742"></div>
            <div class="v3_743"></div>
            <div class="v3_744"></div>
            <div class="v3_745"></div>
            <div class="v3_746"></div>
            <div class="v3_747"></div>
            <div class="v3_748"></div>
            <div class="v3_749"></div>
            <div class="v3_750"></div>
            <div class="v3_751"></div>
            <div class="v3_752"></div>
            <div class="v3_753"></div>
            <div class="v3_754"></div>
            <div class="v3_755"></div>
            <div class="v3_756"></div>
            <div class="v3_757"></div>
            <div class="v3_758"></div>
            <div class="v3_759"></div>
            <div class="v3_760"></div>
            <div class="v3_761"></div>
            <div class="v3_762"></div>
            <div class="v3_763"></div>
            <div class="v3_764"></div>
            <div class="v3_765"></div>
            <div class="v3_766"></div>
            <div class="v3_767"></div>
            <div class="v3_768"></div>
            <div class="v3_769"></div>
            <div class="v3_770"></div>
            <div class="v3_771"></div>
            <div class="v3_772"></div>
            <div class="v3_773"></div>
            <div class="v3_774"></div>
            <div class="v3_775"></div>
            <div class="v3_776"></div>
            <div class="v3_777"></div>
            <div class="v3_778"></div>
            <div class="v3_779"></div>
            <div class="v3_780"></div>
            <div class="v3_781"></div>
            <div class="v3_782"></div>
            <div class="v3_783"></div>
            <div class="v3_784"></div>
            <div class="v3_785"></div>
            <div class="v3_786"></div>
            <div class="v3_787"></div>
            <div class="v3_788"></div>
            <div class="v3_789"></div>
            <div class="v3_790"></div>
            <div class="v3_791"></div>
            <div class="v3_792"></div>
            <div class="v3_793"></div>
            <div class="v3_794"></div>
            <div class="v3_795"></div>
            <div class="v3_796"></div>
            <div class="v3_797"></div>
            <div class="v3_798"></div>
            <div class="v3_799"></div>
            <div class="v3_800"></div>
            <div class="v3_801"></div>
            <div class="v3_802"></div>
            <div class="v3_803"></div>
            <div class="v3_804"></div>
            <div class="v3_805"></div>
            <div class="v3_806"></div>
            <div class="v3_807"></div>
            <div class="v3_808"></div>
            <div class="v3_809"></div>
            <div class="v3_810"></div>
            <div class="v3_811"></div>
            <div class="v3_812"></div>
            <div class="v3_813"></div>
            <div class="v3_814"></div>
            <div class="v3_815"></div>
            <div class="v3_816"></div>
            <div class="v3_817"></div>
            <div class="v3_818"></div>
            <div class="v3_819"></div>
            <div class="v3_820"></div>
            <div class="v3_821"></div>
            <div class="v3_822"></div>
            <div class="v3_823"></div>
            <div class="v3_824"></div>
            <div class="v3_825"></div>
            <div class="v3_826"></div>
            <div class="v3_827"></div>
            <div class="v3_828"></div>
            <div class="v3_829"></div>
            <div class="v3_830"></div>
            <div class="v3_831"></div>
            <div class="v3_832"></div>
            <div class="v3_833"></div>
            <div class="v3_834"></div>
            <div class="v3_835"></div>
            <div class="v3_836"></div>
            <div class="v3_837"></div>
            <div class="v3_838"></div>
            <div class="v3_839"></div>
            <div class="v3_840"></div>
            <div class="v3_841"></div>
            <div class="v3_842"></div>
            <div class="v3_843"></div>
            <div class="v3_844"></div>
            <div class="v3_845"></div>
            <div class="v3_846"></div>
            <div class="v3_847"></div>
            <div class="v3_848"></div>
            <div class="v3_849"></div>
            <div class="v3_850"></div>
            <div class="v3_851"></div>
            <div class="v3_852"></div>
            <div class="v3_853"></div>
            <div class="v3_854"></div>
            <div class="v3_855"></div>
            <div class="v3_856"></div>
            <div class="v3_857"></div>
            <div class="v3_858"></div>
            <div class="v3_859"></div>
            <div class="v3_860"></div>
            <div class="v3_861"></div>
            <div class="v3_862"></div>
            <div class="v3_863"></div>
            <div class="v3_864"></div>
            <div class="v3_865"></div>
            <div class="v3_866"></div>
            <div class="v3_867"></div>
            <div class="v3_868"></div>
            <div class="v3_869"></div>
            <div class="v3_870"></div>
            <div class="v3_871"></div>
            <div class="v3_872"></div>
            <div class="v3_873"></div>
        </div>
<!--        <div class="v3_874">-->
<!--            <div class="v3_875"></div>-->
<!--            <div class="v3_876">-->
<!--                <div class="v3_877">-->
<!--                    <div class="v3_878"></div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <span class="v3_879">QUICK LINKS</span>
        <span class="v3_880">OUR SERVICES</span>
        <span class="v3_881">OUR TECHNOLOGIES</span>
        <span class="v3_882">CONTACT & FOLLOW US</span>

        <span class="v3_883">Home</span>
        <span class="v3_885">Web Development</span>
        <span class="v3_886">Mobile Applications</span>
        <span class="v3_887">React Native</span>

        <span class="v3_888">Phone: +1 778 922 9922</span>
        <span class="v3_889">E-mail: contact@appstracted.com</span>
        <span class="v3_890">About</span>
        <span class="v3_891">Our Policy</span>
        <span class="v3_894">Digital Product Design</span>
        <span class="v3_895">Angular Development</span>
        <span class="v3_896">Cloud/DevOps</span>
        <span class="v3_897">Laravel Development</span>
        <span class="v3_898">Dedicated Development Team</span>
        <span class="v3_899">Appstracted  Solution Copyright 2023  - All Right Reserved</span>

        <div class="v3_900">

        </div>


        <div class="v3_921"></div>
    </div>

    <div class="v3_931">
        <div class="v3_932">
            <div class="v3_933"></div>
            <div class="v3_934"></div>
        </div>
        <div class="v3_935" style="background-image: url('/static/myapp/home/v3_935.png');"></div>
        <span class="v3_936">APPSTRACTED</span><span class="v3_937">Appstracted is custom software development firm Appstracted Solutions Ltd
propels growth, innovation, and transformation at forward-thinking businesses.
Appstracted achieves this by creating and providing software-as-a-service (SAAS)
that is cost-effective, simple to use, and user-centred.</span>
        <div class="v3_938" onclick="location.href='/about';" style="cursor: pointer;">
            <div class="v3_939"></div>
            <span class="v3_940">Learn More</span></div>
<!--        <div class="v3_941">-->
<!--            <div class="v3_942">-->
<!--                <div class="v3_943"></div>-->
<!--                <span class="v3_944">Let’s Connect</span></div>-->
<!--        </div>-->
    </div>
</div>
</body>
</html>