<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet"/>
    <link href="./css/main.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/portfolio.css' %}"/>
    <title>APPSTRACTED</title></head>
<body>
<div class="v3_3732">
    <div class="v3_3733"></div>
    <div class="v3_3734"></div>
    <div class="v3_3735"><span class="v3_3736">Mobile & Web Applications</span><span class="v3_3737">We help create solutions that optimize processes, improve accessibility to data, and increase successful outcomes by providing the
necessary insights and tools to change physician and patient behavior.</span>
        <div class="v3_3738" style="background-image: url('/static/myapp/portfolio/ss1.png');"></div>
        <div class="v3_3739" style="background-image: url('/static/myapp/portfolio/ss2.png');"></div>
        <div class="v3_3740" style="background-image: url('/static/myapp/portfolio/ss3.png');"></div>
        <div class="v3_3741" style="background-image: url('/static/myapp/portfolio/ss4.png');"></div>
        <div class="v3_3742" style="background-image: url('/static/myapp/portfolio/ss5.png');"></div>
        <div class="v3_3743" style="background-image: url('/static/myapp/portfolio/v3_3743.png');"></div>
    </div>
    <div class="v3_3744">
        <div class="v3_3745"></div>
        <span class="v3_3746">Creating What You Need,
The Way You Want Them</span><span class="v3_3747">Petrong developers have excelled in a number of fields due to their
deep expertise in software development as a service.</span>
        <div class="v3_3748"></div>
        <div class="v3_3749"></div>
        <span class="v3_3750">Fast</span><span class="v3_3751">Advance</span><span class="v3_3752">Delievry</span><span
            class="v3_3753">Rate</span></div>
    <div class="v3_3754">
        <div class="v3_3755"></div>
        <span class="v3_3756">Do you have a next level-idea?</span><span class="v3_3757">Reach out and we can create magic together</span>
        <div class="v3_3758" onclick="location.href='/contact';" style="cursor: pointer;">
            <div class="v3_3759"></div>
            <span class="v3_3760">MESSAGE US</span></div>
    </div>
    <span class="v3_3761">Career</span>
    <div class="v3_3762">
        <div class="v3_3763"></div>
        <span class="v3_3764">A glimpse of some of our project  and
people we’ve fortunate to work with</span><span class="v3_3765">OUR PORTFOLIO</span>
        <div class="v3_3766" style="background-image: url('/static/myapp/portfolio/Vector42.png');"></div>
        <div class="v3_3767"></div>
        <div class="v3_3768" style="background-image: url('/static/myapp/portfolio/v3_3768.png');"></div>
        <div class="v3_3769">
            <div class="v3_3770"></div>
            <div class="v3_3771"></div>
            <div class="v3_3772"></div>
            <div class="v3_3773"></div>
            <div class="v3_3774"></div>
            <div class="v3_3775"></div>
            <div class="v3_3776"></div>
            <div class="v3_3777"></div>
            <div class="v3_3778"></div>
            <div class="v3_3779"></div>
            <div class="v3_3780"></div>
            <div class="v3_3781"></div>
            <div class="v3_3782"></div>
            <div class="v3_3783"></div>
            <div class="v3_3784"></div>
            <div class="v3_3785"></div>
            <div class="v3_3786"></div>
            <div class="v3_3787"></div>
            <div class="v3_3788"></div>
            <div class="v3_3789"></div>
            <div class="v3_3790"></div>
            <div class="v3_3791"></div>
            <div class="v3_3792"></div>
            <div class="v3_3793"></div>
            <div class="v3_3794"></div>
            <div class="v3_3795"></div>
            <div class="v3_3796"></div>
            <div class="v3_3797"></div>
            <div class="v3_3798"></div>
            <div class="v3_3799"></div>
            <div class="v3_3800"></div>
            <div class="v3_3801"></div>
            <div class="v3_3802"></div>
            <div class="v3_3803"></div>
            <div class="v3_3804"></div>
            <div class="v3_3805"></div>
            <div class="v3_3806"></div>
            <div class="v3_3807"></div>
            <div class="v3_3808"></div>
            <div class="v3_3809"></div>
            <div class="v3_3810"></div>
            <div class="v3_3811"></div>
            <div class="v3_3812"></div>
            <div class="v3_3813"></div>
            <div class="v3_3814"></div>
            <div class="v3_3815"></div>
            <div class="v3_3816"></div>
            <div class="v3_3817"></div>
            <div class="v3_3818"></div>
            <div class="v3_3819"></div>
            <div class="v3_3820"></div>
            <div class="v3_3821"></div>
            <div class="v3_3822"></div>
            <div class="v3_3823"></div>
            <div class="v3_3824"></div>
            <div class="v3_3825"></div>
            <div class="v3_3826"></div>
            <div class="v3_3827"></div>
            <div class="v3_3828"></div>
            <div class="v3_3829"></div>
            <div class="v3_3830"></div>
            <div class="v3_3831"></div>
            <div class="v3_3832"></div>
            <div class="v3_3833"></div>
            <div class="v3_3834"></div>
            <div class="v3_3835"></div>
            <div class="v3_3836"></div>
            <div class="v3_3837"></div>
            <div class="v3_3838"></div>
            <div class="v3_3839"></div>
            <div class="v3_3840"></div>
            <div class="v3_3841"></div>
            <div class="v3_3842"></div>
            <div class="v3_3843"></div>
            <div class="v3_3844"></div>
            <div class="v3_3845"></div>
            <div class="v3_3846"></div>
            <div class="v3_3847"></div>
            <div class="v3_3848"></div>
            <div class="v3_3849"></div>
            <div class="v3_3850"></div>
            <div class="v3_3851"></div>
            <div class="v3_3852"></div>
            <div class="v3_3853"></div>
            <div class="v3_3854"></div>
            <div class="v3_3855"></div>
            <div class="v3_3856"></div>
            <div class="v3_3857"></div>
            <div class="v3_3858"></div>
            <div class="v3_3859"></div>
            <div class="v3_3860"></div>
            <div class="v3_3861"></div>
            <div class="v3_3862"></div>
            <div class="v3_3863"></div>
            <div class="v3_3864"></div>
            <div class="v3_3865"></div>
            <div class="v3_3866"></div>
            <div class="v3_3867"></div>
            <div class="v3_3868"></div>
            <div class="v3_3869"></div>
            <div class="v3_3870"></div>
            <div class="v3_3871"></div>
            <div class="v3_3872"></div>
            <div class="v3_3873"></div>
            <div class="v3_3874"></div>
            <div class="v3_3875"></div>
            <div class="v3_3876"></div>
            <div class="v3_3877"></div>
            <div class="v3_3878"></div>
            <div class="v3_3879"></div>
            <div class="v3_3880"></div>
            <div class="v3_3881"></div>
            <div class="v3_3882"></div>
            <div class="v3_3883"></div>
            <div class="v3_3884"></div>
            <div class="v3_3885"></div>
            <div class="v3_3886"></div>
            <div class="v3_3887"></div>
            <div class="v3_3888"></div>
            <div class="v3_3889"></div>
        </div>
        <div class="v3_3890">
            <div class="v3_3891"></div>
            <div class="v3_3892"></div>
            <div class="v3_3893"></div>
            <div class="v3_3894"></div>
            <div class="v3_3895"></div>
            <div class="v3_3896"></div>
            <div class="v3_3897"></div>
            <div class="v3_3898"></div>
            <div class="v3_3899"></div>
            <div class="v3_3900"></div>
            <div class="v3_3901"></div>
            <div class="v3_3902"></div>
            <div class="v3_3903"></div>
            <div class="v3_3904"></div>
            <div class="v3_3905"></div>
            <div class="v3_3906"></div>
            <div class="v3_3907"></div>
            <div class="v3_3908"></div>
            <div class="v3_3909"></div>
            <div class="v3_3910"></div>
            <div class="v3_3911"></div>
            <div class="v3_3912"></div>
            <div class="v3_3913"></div>
            <div class="v3_3914"></div>
            <div class="v3_3915"></div>
            <div class="v3_3916"></div>
            <div class="v3_3917"></div>
            <div class="v3_3918"></div>
            <div class="v3_3919"></div>
            <div class="v3_3920"></div>
            <div class="v3_3921"></div>
            <div class="v3_3922"></div>
            <div class="v3_3923"></div>
            <div class="v3_3924"></div>
            <div class="v3_3925"></div>
            <div class="v3_3926"></div>
            <div class="v3_3927"></div>
            <div class="v3_3928"></div>
            <div class="v3_3929"></div>
            <div class="v3_3930"></div>
            <div class="v3_3931"></div>
            <div class="v3_3932"></div>
            <div class="v3_3933"></div>
            <div class="v3_3934"></div>
            <div class="v3_3935"></div>
            <div class="v3_3936"></div>
            <div class="v3_3937"></div>
            <div class="v3_3938"></div>
            <div class="v3_3939"></div>
            <div class="v3_3940"></div>
            <div class="v3_3941"></div>
            <div class="v3_3942"></div>
            <div class="v3_3943"></div>
            <div class="v3_3944"></div>
            <div class="v3_3945"></div>
            <div class="v3_3946"></div>
            <div class="v3_3947"></div>
            <div class="v3_3948"></div>
            <div class="v3_3949"></div>
            <div class="v3_3950"></div>
            <div class="v3_3951"></div>
            <div class="v3_3952"></div>
            <div class="v3_3953"></div>
            <div class="v3_3954"></div>
            <div class="v3_3955"></div>
            <div class="v3_3956"></div>
            <div class="v3_3957"></div>
            <div class="v3_3958"></div>
            <div class="v3_3959"></div>
            <div class="v3_3960"></div>
            <div class="v3_3961"></div>
            <div class="v3_3962"></div>
        </div>
        <div class="v3_3963">
            <span class="v3_3973" onclick="location.href='/about';" style="cursor: pointer;">ABOUT </span>
            <span class="v3_3974" onclick="location.href='/portfolio';" style="cursor: pointer;">PORTFOLIO</span>
            <span class="v3_3976" onclick="location.href='/expertise';" style="cursor: pointer;">EXPERTISE</span>
            <span class="v3_3977" onclick="location.href='/contact';" style="cursor: pointer;">CONTACT</span></div>
    </div>
    <div class="v3_3979">
        <div class="v3_3980"></div>
        <div class="v3_3981">
            <div class="v3_3982"></div>
            <div class="v3_3983"></div>
            <div class="v3_3984"></div>
            <div class="v3_3985"></div>
            <div class="v3_3986"></div>
            <div class="v3_3987"></div>
            <div class="v3_3988"></div>
            <div class="v3_3989"></div>
            <div class="v3_3990"></div>
            <div class="v3_3991"></div>
            <div class="v3_3992"></div>
            <div class="v3_3993"></div>
            <div class="v3_3994"></div>
            <div class="v3_3995"></div>
            <div class="v3_3996"></div>
            <div class="v3_3997"></div>
            <div class="v3_3998"></div>
            <div class="v3_3999"></div>
            <div class="v3_4000"></div>
            <div class="v3_4001"></div>
            <div class="v3_4002"></div>
            <div class="v3_4003"></div>
            <div class="v3_4004"></div>
            <div class="v3_4005"></div>
            <div class="v3_4006"></div>
            <div class="v3_4007"></div>
            <div class="v3_4008"></div>
            <div class="v3_4009"></div>
            <div class="v3_4010"></div>
            <div class="v3_4011"></div>
            <div class="v3_4012"></div>
            <div class="v3_4013"></div>
            <div class="v3_4014"></div>
            <div class="v3_4015"></div>
            <div class="v3_4016"></div>
            <div class="v3_4017"></div>
            <div class="v3_4018"></div>
            <div class="v3_4019"></div>
            <div class="v3_4020"></div>
            <div class="v3_4021"></div>
            <div class="v3_4022"></div>
            <div class="v3_4023"></div>
            <div class="v3_4024"></div>
            <div class="v3_4025"></div>
            <div class="v3_4026"></div>
            <div class="v3_4027"></div>
            <div class="v3_4028"></div>
            <div class="v3_4029"></div>
            <div class="v3_4030"></div>
            <div class="v3_4031"></div>
            <div class="v3_4032"></div>
            <div class="v3_4033"></div>
            <div class="v3_4034"></div>
            <div class="v3_4035"></div>
            <div class="v3_4036"></div>
            <div class="v3_4037"></div>
            <div class="v3_4038"></div>
            <div class="v3_4039"></div>
            <div class="v3_4040"></div>
            <div class="v3_4041"></div>
            <div class="v3_4042"></div>
            <div class="v3_4043"></div>
            <div class="v3_4044"></div>
            <div class="v3_4045"></div>
            <div class="v3_4046"></div>
            <div class="v3_4047"></div>
            <div class="v3_4048"></div>
            <div class="v3_4049"></div>
            <div class="v3_4050"></div>
            <div class="v3_4051"></div>
            <div class="v3_4052"></div>
            <div class="v3_4053"></div>
            <div class="v3_4054"></div>
            <div class="v3_4055"></div>
            <div class="v3_4056"></div>
            <div class="v3_4057"></div>
            <div class="v3_4058"></div>
            <div class="v3_4059"></div>
            <div class="v3_4060"></div>
            <div class="v3_4061"></div>
            <div class="v3_4062"></div>
            <div class="v3_4063"></div>
            <div class="v3_4064"></div>
            <div class="v3_4065"></div>
            <div class="v3_4066"></div>
            <div class="v3_4067"></div>
            <div class="v3_4068"></div>
            <div class="v3_4069"></div>
            <div class="v3_4070"></div>
            <div class="v3_4071"></div>
            <div class="v3_4072"></div>
            <div class="v3_4073"></div>
            <div class="v3_4074"></div>
            <div class="v3_4075"></div>
            <div class="v3_4076"></div>
            <div class="v3_4077"></div>
            <div class="v3_4078"></div>
            <div class="v3_4079"></div>
            <div class="v3_4080"></div>
            <div class="v3_4081"></div>
            <div class="v3_4082"></div>
            <div class="v3_4083"></div>
            <div class="v3_4084"></div>
            <div class="v3_4085"></div>
            <div class="v3_4086"></div>
            <div class="v3_4087"></div>
            <div class="v3_4088"></div>
            <div class="v3_4089"></div>
            <div class="v3_4090"></div>
            <div class="v3_4091"></div>
            <div class="v3_4092"></div>
            <div class="v3_4093"></div>
            <div class="v3_4094"></div>
            <div class="v3_4095"></div>
            <div class="v3_4096"></div>
            <div class="v3_4097"></div>
            <div class="v3_4098"></div>
            <div class="v3_4099"></div>
            <div class="v3_4100"></div>
            <div class="v3_4101"></div>
            <div class="v3_4102"></div>
            <div class="v3_4103"></div>
            <div class="v3_4104"></div>
            <div class="v3_4105"></div>
            <div class="v3_4106"></div>
            <div class="v3_4107"></div>
            <div class="v3_4108"></div>
            <div class="v3_4109"></div>
            <div class="v3_4110"></div>
            <div class="v3_4111"></div>
            <div class="v3_4112"></div>
            <div class="v3_4113"></div>
            <div class="v3_4114"></div>
            <div class="v3_4115"></div>
            <div class="v3_4116"></div>
            <div class="v3_4117"></div>
            <div class="v3_4118"></div>
            <div class="v3_4119"></div>
            <div class="v3_4120"></div>
            <div class="v3_4121"></div>
            <div class="v3_4122"></div>
            <div class="v3_4123"></div>
            <div class="v3_4124"></div>
            <div class="v3_4125"></div>
            <div class="v3_4126"></div>
            <div class="v3_4127"></div>
            <div class="v3_4128"></div>
            <div class="v3_4129"></div>
            <div class="v3_4130"></div>
            <div class="v3_4131"></div>
            <div class="v3_4132"></div>
            <div class="v3_4133"></div>
            <div class="v3_4134"></div>
            <div class="v3_4135"></div>
            <div class="v3_4136"></div>
            <div class="v3_4137"></div>
            <div class="v3_4138"></div>
            <div class="v3_4139"></div>
            <div class="v3_4140"></div>
            <div class="v3_4141"></div>
            <div class="v3_4142"></div>
            <div class="v3_4143"></div>
            <div class="v3_4144"></div>
            <div class="v3_4145"></div>
            <div class="v3_4146"></div>
            <div class="v3_4147"></div>
            <div class="v3_4148"></div>
            <div class="v3_4149"></div>
            <div class="v3_4150"></div>
            <div class="v3_4151"></div>
            <div class="v3_4152"></div>
            <div class="v3_4153"></div>
            <div class="v3_4154"></div>
            <div class="v3_4155"></div>
            <div class="v3_4156"></div>
            <div class="v3_4157"></div>
            <div class="v3_4158"></div>
            <div class="v3_4159"></div>
            <div class="v3_4160"></div>
            <div class="v3_4161"></div>
            <div class="v3_4162"></div>
            <div class="v3_4163"></div>
            <div class="v3_4164"></div>
            <div class="v3_4165"></div>
            <div class="v3_4166"></div>
            <div class="v3_4167"></div>
            <div class="v3_4168"></div>
            <div class="v3_4169"></div>
            <div class="v3_4170"></div>
            <div class="v3_4171"></div>
            <div class="v3_4172"></div>
            <div class="v3_4173"></div>
            <div class="v3_4174"></div>
            <div class="v3_4175"></div>
            <div class="v3_4176"></div>
            <div class="v3_4177"></div>
            <div class="v3_4178"></div>
            <div class="v3_4179"></div>
            <div class="v3_4180"></div>
            <div class="v3_4181"></div>
            <div class="v3_4182"></div>
            <div class="v3_4183"></div>
            <div class="v3_4184"></div>
            <div class="v3_4185"></div>
            <div class="v3_4186"></div>
            <div class="v3_4187"></div>
            <div class="v3_4188"></div>
            <div class="v3_4189"></div>
            <div class="v3_4190"></div>
            <div class="v3_4191"></div>
            <div class="v3_4192"></div>
            <div class="v3_4193"></div>
            <div class="v3_4194"></div>
            <div class="v3_4195"></div>
            <div class="v3_4196"></div>
            <div class="v3_4197"></div>
            <div class="v3_4198"></div>
            <div class="v3_4199"></div>
            <div class="v3_4200"></div>
            <div class="v3_4201"></div>
            <div class="v3_4202"></div>
            <div class="v3_4203"></div>
            <div class="v3_4204"></div>
            <div class="v3_4205"></div>
            <div class="v3_4206"></div>
            <div class="v3_4207"></div>
            <div class="v3_4208"></div>
            <div class="v3_4209"></div>
            <div class="v3_4210"></div>
            <div class="v3_4211"></div>
            <div class="v3_4212"></div>
            <div class="v3_4213"></div>
            <div class="v3_4214"></div>
            <div class="v3_4215"></div>
            <div class="v3_4216"></div>
            <div class="v3_4217"></div>
            <div class="v3_4218"></div>
            <div class="v3_4219"></div>
            <div class="v3_4220"></div>
            <div class="v3_4221"></div>
            <div class="v3_4222"></div>
            <div class="v3_4223"></div>
            <div class="v3_4224"></div>
            <div class="v3_4225"></div>
            <div class="v3_4226"></div>
            <div class="v3_4227"></div>
            <div class="v3_4228"></div>
            <div class="v3_4229"></div>
            <div class="v3_4230"></div>
            <div class="v3_4231"></div>
            <div class="v3_4232"></div>
            <div class="v3_4233"></div>
            <div class="v3_4234"></div>
            <div class="v3_4235"></div>
            <div class="v3_4236"></div>
            <div class="v3_4237"></div>
            <div class="v3_4238"></div>
            <div class="v3_4239"></div>
            <div class="v3_4240"></div>
            <div class="v3_4241"></div>
            <div class="v3_4242"></div>
            <div class="v3_4243"></div>
            <div class="v3_4244"></div>
            <div class="v3_4245"></div>
            <div class="v3_4246"></div>
            <div class="v3_4247"></div>
            <div class="v3_4248"></div>
            <div class="v3_4249"></div>
            <div class="v3_4250"></div>
            <div class="v3_4251"></div>
            <div class="v3_4252"></div>
            <div class="v3_4253"></div>
            <div class="v3_4254"></div>
            <div class="v3_4255"></div>
            <div class="v3_4256"></div>
            <div class="v3_4257"></div>
            <div class="v3_4258"></div>
            <div class="v3_4259"></div>
            <div class="v3_4260"></div>
            <div class="v3_4261"></div>
            <div class="v3_4262"></div>
            <div class="v3_4263"></div>
            <div class="v3_4264"></div>
            <div class="v3_4265"></div>
            <div class="v3_4266"></div>
            <div class="v3_4267"></div>
            <div class="v3_4268"></div>
            <div class="v3_4269"></div>
            <div class="v3_4270"></div>
            <div class="v3_4271"></div>
            <div class="v3_4272"></div>
            <div class="v3_4273"></div>
            <div class="v3_4274"></div>
            <div class="v3_4275"></div>
            <div class="v3_4276"></div>
            <div class="v3_4277"></div>
            <div class="v3_4278"></div>
            <div class="v3_4279"></div>
            <div class="v3_4280"></div>
            <div class="v3_4281"></div>
            <div class="v3_4282"></div>
            <div class="v3_4283"></div>
            <div class="v3_4284"></div>
            <div class="v3_4285"></div>
            <div class="v3_4286"></div>
            <div class="v3_4287"></div>
            <div class="v3_4288"></div>
            <div class="v3_4289"></div>
            <div class="v3_4290"></div>
            <div class="v3_4291"></div>
            <div class="v3_4292"></div>
            <div class="v3_4293"></div>
            <div class="v3_4294"></div>
            <div class="v3_4295"></div>
            <div class="v3_4296"></div>
            <div class="v3_4297"></div>
            <div class="v3_4298"></div>
            <div class="v3_4299"></div>
            <div class="v3_4300"></div>
            <div class="v3_4301"></div>
            <div class="v3_4302"></div>
            <div class="v3_4303"></div>
            <div class="v3_4304"></div>
            <div class="v3_4305"></div>
            <div class="v3_4306"></div>
            <div class="v3_4307"></div>
            <div class="v3_4308"></div>
            <div class="v3_4309"></div>
            <div class="v3_4310"></div>
            <div class="v3_4311"></div>
            <div class="v3_4312"></div>
            <div class="v3_4313"></div>
            <div class="v3_4314"></div>
            <div class="v3_4315"></div>
            <div class="v3_4316"></div>
            <div class="v3_4317"></div>
            <div class="v3_4318"></div>
            <div class="v3_4319"></div>
            <div class="v3_4320"></div>
            <div class="v3_4321"></div>
            <div class="v3_4322"></div>
            <div class="v3_4323"></div>
            <div class="v3_4324"></div>
            <div class="v3_4325"></div>
            <div class="v3_4326"></div>
            <div class="v3_4327"></div>
            <div class="v3_4328"></div>
            <div class="v3_4329"></div>
            <div class="v3_4330"></div>
            <div class="v3_4331"></div>
            <div class="v3_4332"></div>
            <div class="v3_4333"></div>
            <div class="v3_4334"></div>
            <div class="v3_4335"></div>
            <div class="v3_4336"></div>
            <div class="v3_4337"></div>
            <div class="v3_4338"></div>
            <div class="v3_4339"></div>
            <div class="v3_4340"></div>
            <div class="v3_4341"></div>
            <div class="v3_4342"></div>
            <div class="v3_4343"></div>
            <div class="v3_4344"></div>
            <div class="v3_4345"></div>
            <div class="v3_4346"></div>
            <div class="v3_4347"></div>
            <div class="v3_4348"></div>
            <div class="v3_4349"></div>
            <div class="v3_4350"></div>
            <div class="v3_4351"></div>
            <div class="v3_4352"></div>
            <div class="v3_4353"></div>
            <div class="v3_4354"></div>
            <div class="v3_4355"></div>
            <div class="v3_4356"></div>
            <div class="v3_4357"></div>
            <div class="v3_4358"></div>
            <div class="v3_4359"></div>
            <div class="v3_4360"></div>
            <div class="v3_4361"></div>
            <div class="v3_4362"></div>
            <div class="v3_4363"></div>
            <div class="v3_4364"></div>
            <div class="v3_4365"></div>
            <div class="v3_4366"></div>
            <div class="v3_4367"></div>
            <div class="v3_4368"></div>
            <div class="v3_4369"></div>
            <div class="v3_4370"></div>
            <div class="v3_4371"></div>
            <div class="v3_4372"></div>
            <div class="v3_4373"></div>
            <div class="v3_4374"></div>
            <div class="v3_4375"></div>
            <div class="v3_4376"></div>
            <div class="v3_4377"></div>
            <div class="v3_4378"></div>
            <div class="v3_4379"></div>
            <div class="v3_4380"></div>
            <div class="v3_4381"></div>
            <div class="v3_4382"></div>
            <div class="v3_4383"></div>
            <div class="v3_4384"></div>
            <div class="v3_4385"></div>
            <div class="v3_4386"></div>
            <div class="v3_4387"></div>
            <div class="v3_4388"></div>
            <div class="v3_4389"></div>
            <div class="v3_4390"></div>
            <div class="v3_4391"></div>
            <div class="v3_4392"></div>
            <div class="v3_4393"></div>
            <div class="v3_4394"></div>
            <div class="v3_4395"></div>
            <div class="v3_4396"></div>
            <div class="v3_4397"></div>
            <div class="v3_4398"></div>
            <div class="v3_4399"></div>
            <div class="v3_4400"></div>
            <div class="v3_4401"></div>
            <div class="v3_4402"></div>
            <div class="v3_4403"></div>
            <div class="v3_4404"></div>
            <div class="v3_4405"></div>
            <div class="v3_4406"></div>
            <div class="v3_4407"></div>
            <div class="v3_4408"></div>
            <div class="v3_4409"></div>
            <div class="v3_4410"></div>
            <div class="v3_4411"></div>
            <div class="v3_4412"></div>
            <div class="v3_4413"></div>
            <div class="v3_4414"></div>
            <div class="v3_4415"></div>
            <div class="v3_4416"></div>
            <div class="v3_4417"></div>
            <div class="v3_4418"></div>
            <div class="v3_4419"></div>
            <div class="v3_4420"></div>
            <div class="v3_4421"></div>
            <div class="v3_4422"></div>
            <div class="v3_4423"></div>
            <div class="v3_4424"></div>
            <div class="v3_4425"></div>
            <div class="v3_4426"></div>
            <div class="v3_4427"></div>
            <div class="v3_4428"></div>
            <div class="v3_4429"></div>
            <div class="v3_4430"></div>
            <div class="v3_4431"></div>
            <div class="v3_4432"></div>
            <div class="v3_4433"></div>
            <div class="v3_4434"></div>
            <div class="v3_4435"></div>
            <div class="v3_4436"></div>
            <div class="v3_4437"></div>
            <div class="v3_4438"></div>
            <div class="v3_4439"></div>
            <div class="v3_4440"></div>
            <div class="v3_4441"></div>
            <div class="v3_4442"></div>
            <div class="v3_4443"></div>
            <div class="v3_4444"></div>
            <div class="v3_4445"></div>
            <div class="v3_4446"></div>
            <div class="v3_4447"></div>
            <div class="v3_4448"></div>
            <div class="v3_4449"></div>
            <div class="v3_4450"></div>
            <div class="v3_4451"></div>
            <div class="v3_4452"></div>
            <div class="v3_4453"></div>
            <div class="v3_4454"></div>
            <div class="v3_4455"></div>
            <div class="v3_4456"></div>
            <div class="v3_4457"></div>
            <div class="v3_4458"></div>
            <div class="v3_4459"></div>
            <div class="v3_4460"></div>
            <div class="v3_4461"></div>
            <div class="v3_4462"></div>
            <div class="v3_4463"></div>
            <div class="v3_4464"></div>
            <div class="v3_4465"></div>
            <div class="v3_4466"></div>
            <div class="v3_4467"></div>
            <div class="v3_4468"></div>
            <div class="v3_4469"></div>
            <div class="v3_4470"></div>
            <div class="v3_4471"></div>
            <div class="v3_4472"></div>
            <div class="v3_4473"></div>
            <div class="v3_4474"></div>
            <div class="v3_4475"></div>
            <div class="v3_4476"></div>
            <div class="v3_4477"></div>
            <div class="v3_4478"></div>
            <div class="v3_4479"></div>
            <div class="v3_4480"></div>
            <div class="v3_4481"></div>
            <div class="v3_4482"></div>
            <div class="v3_4483"></div>
            <div class="v3_4484"></div>
            <div class="v3_4485"></div>
            <div class="v3_4486"></div>
            <div class="v3_4487"></div>
            <div class="v3_4488"></div>
            <div class="v3_4489"></div>
            <div class="v3_4490"></div>
            <div class="v3_4491"></div>
            <div class="v3_4492"></div>
            <div class="v3_4493"></div>
            <div class="v3_4494"></div>
            <div class="v3_4495"></div>
            <div class="v3_4496"></div>
            <div class="v3_4497"></div>
            <div class="v3_4498"></div>
            <div class="v3_4499"></div>
            <div class="v3_4500"></div>
            <div class="v3_4501"></div>
            <div class="v3_4502"></div>
            <div class="v3_4503"></div>
            <div class="v3_4504"></div>
            <div class="v3_4505"></div>
            <div class="v3_4506"></div>
            <div class="v3_4507"></div>
            <div class="v3_4508"></div>
            <div class="v3_4509"></div>
            <div class="v3_4510"></div>
            <div class="v3_4511"></div>
            <div class="v3_4512"></div>
            <div class="v3_4513"></div>
            <div class="v3_4514"></div>
            <div class="v3_4515"></div>
            <div class="v3_4516"></div>
            <div class="v3_4517"></div>
            <div class="v3_4518"></div>
            <div class="v3_4519"></div>
            <div class="v3_4520"></div>
            <div class="v3_4521"></div>
            <div class="v3_4522"></div>
            <div class="v3_4523"></div>
            <div class="v3_4524"></div>
            <div class="v3_4525"></div>
            <div class="v3_4526"></div>
            <div class="v3_4527"></div>
            <div class="v3_4528"></div>
            <div class="v3_4529"></div>
            <div class="v3_4530"></div>
            <div class="v3_4531"></div>
            <div class="v3_4532"></div>
            <div class="v3_4533"></div>
            <div class="v3_4534"></div>
            <div class="v3_4535"></div>
            <div class="v3_4536"></div>
            <div class="v3_4537"></div>
            <div class="v3_4538"></div>
            <div class="v3_4539"></div>
            <div class="v3_4540"></div>
            <div class="v3_4541"></div>
            <div class="v3_4542"></div>
            <div class="v3_4543"></div>
            <div class="v3_4544"></div>
            <div class="v3_4545"></div>
            <div class="v3_4546"></div>
            <div class="v3_4547"></div>
            <div class="v3_4548"></div>
            <div class="v3_4549"></div>
            <div class="v3_4550"></div>
            <div class="v3_4551"></div>
            <div class="v3_4552"></div>
            <div class="v3_4553"></div>
            <div class="v3_4554"></div>
            <div class="v3_4555"></div>
            <div class="v3_4556"></div>
            <div class="v3_4557"></div>
            <div class="v3_4558"></div>
            <div class="v3_4559"></div>
            <div class="v3_4560"></div>
            <div class="v3_4561"></div>
            <div class="v3_4562"></div>
            <div class="v3_4563"></div>
            <div class="v3_4564"></div>
            <div class="v3_4565"></div>
            <div class="v3_4566"></div>
            <div class="v3_4567"></div>
            <div class="v3_4568"></div>
            <div class="v3_4569"></div>
            <div class="v3_4570"></div>
            <div class="v3_4571"></div>
            <div class="v3_4572"></div>
            <div class="v3_4573"></div>
            <div class="v3_4574"></div>
            <div class="v3_4575"></div>
            <div class="v3_4576"></div>
            <div class="v3_4577"></div>
            <div class="v3_4578"></div>
            <div class="v3_4579"></div>
            <div class="v3_4580"></div>
            <div class="v3_4581"></div>
            <div class="v3_4582"></div>
            <div class="v3_4583"></div>
            <div class="v3_4584"></div>
            <div class="v3_4585"></div>
            <div class="v3_4586"></div>
            <div class="v3_4587"></div>
            <div class="v3_4588"></div>
            <div class="v3_4589"></div>
            <div class="v3_4590"></div>
            <div class="v3_4591"></div>
            <div class="v3_4592"></div>
            <div class="v3_4593"></div>
            <div class="v3_4594"></div>
            <div class="v3_4595"></div>
            <div class="v3_4596"></div>
            <div class="v3_4597"></div>
            <div class="v3_4598"></div>
            <div class="v3_4599"></div>
            <div class="v3_4600"></div>
            <div class="v3_4601"></div>
            <div class="v3_4602"></div>
            <div class="v3_4603"></div>
            <div class="v3_4604"></div>
            <div class="v3_4605"></div>
            <div class="v3_4606"></div>
            <div class="v3_4607"></div>
            <div class="v3_4608"></div>
            <div class="v3_4609"></div>
            <div class="v3_4610"></div>
            <div class="v3_4611"></div>
            <div class="v3_4612"></div>
            <div class="v3_4613"></div>
            <div class="v3_4614"></div>
            <div class="v3_4615"></div>
            <div class="v3_4616"></div>
            <div class="v3_4617"></div>
            <div class="v3_4618"></div>
            <div class="v3_4619"></div>
            <div class="v3_4620"></div>
            <div class="v3_4621"></div>
            <div class="v3_4622"></div>
            <div class="v3_4623"></div>
            <div class="v3_4624"></div>
            <div class="v3_4625"></div>
            <div class="v3_4626"></div>
            <div class="v3_4627"></div>
            <div class="v3_4628"></div>
            <div class="v3_4629"></div>
            <div class="v3_4630"></div>
            <div class="v3_4631"></div>
            <div class="v3_4632"></div>
        </div>

        <span class="v3_4638">QUICK LINKS</span><span class="v3_4639">OUR SERVICES</span><span class="v3_4640">OUR TECHNOLOGIES</span><span
            class="v3_4641">CONTACT & FOLLOW US</span><span class="v3_4642">Home</span><span
            class="v3_4644">Web Development</span><span class="v3_4645">Mobile Applications</span><span class="v3_4646">React Native</span><span
            class="v3_4647">Phone: +1 778 922 9922</span><span
            class="v3_4648">E-mail: contact@appstracted.com</span><span class="v3_4649">About</span><span class="v3_4650">Our Policy</span><span class="v3_4653">Digital Product Design</span><span
            class="v3_4654">Angular Development</span><span class="v3_4655">Cloud/DevOps</span><span class="v3_4656">Laravel Development</span><span
            class="v3_4657">Dedicated Development
Team</span><span class="v3_4658">Appstracted Solution Copyright 2023  - All Right Reserved</span>




    </div>
    <div class="v3_4688">
        <div class="v3_4689"></div>
        <div class="v3_4690" style="background-image: url('/static/myapp/portfolio/chat.png');">
<!--            <div class="v3_4691">-->
<!--                <div class="v3_4692"></div>-->
<!--            </div>-->
        </div>
    </div>
    <span onclick="location.href='/';" style="cursor: pointer;" class="v7_6867">Appstracted</span></div>
</body>
</html>